force-app/main/default/flows/CPQ_Quote_Expiration_Updates_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Quote_Expiration_Reminders</name>
        <label>Quote Expiration Reminders</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <actionName>SBQQ__Quote__c.CPQ_Quote_Expiration_7_Day_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Quote_Records</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Quote_Records.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Update_Quote_status_to_Expired</name>
        <label>Update Quote status to Expired</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Records.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Quote_Records.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status_to_Expired</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Quote_Expired</name>
        <label>Is Quote Expired</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Quote_Expiration_Reminders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Records.SBQQ__ExpirationDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YestardayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_status_to_Expired</targetReference>
            </connector>
            <label>Quote Expired</label>
        </rules>
    </decisions>
    <description>This flow is responsible to take actions when Quote Expires.</description>
    <formulas>
        <name>Date7DaysBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>DateAfter1Day</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <name>DateBefore3Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>YestardayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>CPQ: Quote Expiration Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ: Quote Expiration Updates flow</label>
    <loops>
        <name>Loop_Quote_Records</name>
        <label>Loop Quote Records</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Quote_Records_to_update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Quote_Expired</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Records_to_update</name>
        <label>Get Quote Records  to update</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Records</targetReference>
        </connector>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date7DaysBefore</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateBefore3Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YestardayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ExpirationDate__c</queriedFields>
        <queriedFields>ApprovalStatus__c</queriedFields>
        <queriedFields>SBQQ__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_status_to_Expired</name>
        <label>Update status to Expired</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Loop_Quote_Records</targetReference>
        </connector>
        <inputReference>Loop_Quote_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Records_to_update</targetReference>
        </connector>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127i000001rdgqAAA</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-23</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
