force-app/main/default/flows/CPQ_Renewal_Opportunity_to_Quote_mappings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Quote Type = Renewal</label>
        </rules>
    </decisions>
    <description>Fields pulled from Opportunity to Quote on renewals</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c), 
ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.DR_Customer_Contact__c )),
&quot;&quot;,
[SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.DR_Customer_Contact__c.Id )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5548707267</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c}), 
ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.DR_Customer_Contact__c} )),
&quot;&quot;,
{!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.DR_Customer_Contact__r.Id} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c), ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.NPN_Solution_Provider_VAR__c)), &quot;&quot;, [SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.NPN_Solution_Provider_VAR__c.Id)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9570232443</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c}), ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.NPN_Solution_Provider_VAR__c})), &quot;&quot;, {!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.NPN_Solution_Provider_VAR__r.Id})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c), ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.Reseller_Contact__c)), 
&quot;&quot;, 
[SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.Reseller_Contact__c.Id )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_1338714106</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c}), ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Reseller_Contact__c})), 
&quot;&quot;, 
{!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Reseller_Contact__r.Id} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c),ISBLANK([SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.Sold_To__c )), &quot;&quot;, [SBQQ__Quote__c].SBQQ__Opportunity2__c.SBQQ__RenewedContract__c.Sold_To__c.Id )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_1122933367</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__c}),ISBLANK({!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Sold_To__c} )), &quot;&quot;, {!myVariable_current.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.Sold_To__r.Id} )</expression>
    </formulas>
    <interviewLabel>CPQ_Renewal_Opportunity_to_Quote_mappings-6_InterviewLabel</interviewLabel>
    <label>CPQ Renewal Opportunity to Quote mappings</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SBQQ__Quote__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SBQQ__Quote__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Lookup Fields</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>End Customer Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>End_Customer_Contact__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5548707267</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reseller Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Reseller_Account__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9570232443</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reseller Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Reseller_Contact__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_1338714106</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sold To</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Sold_To__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_1122933367</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
