force-app/main/default/flows/Deal_Registration_FL_Set_Opp_Fields_from_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Country_List_Lookup</name>
        <label>Check Country List Lookup</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Country_List_Lookup_is_NON_BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country_List_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_NameDescriptionAndInstallationLocation</targetReference>
            </connector>
            <label>If Country List Lookup is NON-BLANK</label>
        </rules>
        <rules>
            <name>If_Country_List_Lookup_is_BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country_List_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_NameAndDescription</targetReference>
            </connector>
            <label>If Country List Lookup is BLANK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CountryCode_is_Not_Null</name>
        <label>Check if CountryCode is Not Null</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_CountryCode_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Record_lkp.CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_List_Record_lkp</targetReference>
            </connector>
            <label>Lead CountryCode is not null</label>
        </rules>
    </decisions>
    <description>Deal Registration : Set Opp Fields (Name, Description, Industry Installation Location)</description>
    <formulas>
        <description>Value derived from Custom Settings (DR_Settings: Lead Type)</description>
        <name>LeadType_Deal_Registration</name>
        <dataType>String</dataType>
        <expression>{!$Setup.DR_Settings__c.Lead_Type__c}</expression>
    </formulas>
    <interviewLabel>Deal Registration : FL : Set Opp Fields from Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Registration : FL : Set Opp Fields from Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Converted_Lead_from_Deal_Registation</name>
        <label>Converted Lead (from Deal Registation)</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CountryCode_is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>DR_Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadType_Deal_Registration</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id_For_Opportunity</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead_Record_lkp</outputReference>
        <queriedFields>Description</queriedFields>
        <queriedFields>DR_Opportunity_Name__c</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>DR_Registration_Close_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Country_List_Record_lkp</name>
        <label>Country_List_Record_lkp</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Country_List_Lookup</targetReference>
        </connector>
        <filters>
            <field>ISO_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Record_lkp.CountryCode</elementReference>
            </value>
        </filters>
        <object>Country_List__c</object>
        <outputReference>Country_List_Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_NameAndDescription</name>
        <label>Update_Opportunity_NamdAndDescription</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DR_Opp_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Lead_Record_lkp.DR_Registration_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Lead_Record_lkp.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Lead_Record_lkp.DR_Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Deal Reg Opportunity with Name, Description and Installation Location from Country List matching with DR_Lead_Country__c and Description from Converted Lead</description>
        <name>Update_Opportunity_NameDescriptionAndInstallationLocation</name>
        <label>Update_Opportunity_NameDescriptionAndInstallationLocation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DR_Opp_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Lead_Record_lkp.DR_Registration_Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DR_Installation_Location__c</field>
            <value>
                <elementReference>Country_List_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Lead_Record_lkp.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Lead_Record_lkp.DR_Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Converted_Lead_from_Deal_Registation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Country List record for the associated DR_Lead_Country__c</description>
        <name>Country_List_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country_List__c</objectType>
    </variables>
    <variables>
        <description>Id of the Opportunity created from Deal Reg Lead conversion</description>
        <name>DR_Opp_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lead Id for Opportunity (orignially comes from field mapping)</description>
        <name>Lead_Id_For_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Converted Lead record</description>
        <name>Lead_Record_lkp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
