force-app/main/default/flows/Deal_Registration_FL_Convert_DR_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_EDU_PriceBook_is_NOT_Null_Primary_Product</name>
        <label>Check if EDU PriceBook is NOT Null - Primary Product</label>
        <locationX>128</locationX>
        <locationY>1105</locationY>
        <defaultConnector>
            <targetReference>PriceBookEntry_for_the_Product_of_Non_EDU_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EDU PriceBook is Null - Primary Product</defaultConnectorLabel>
        <rules>
            <name>EDU_PriceBook_is_NOT_Null_Primary_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookEDU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceBookEntry_for_the_Product_of_EDU_PriceBook</targetReference>
            </connector>
            <label>EDU PriceBook is NOT Null - Primary Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_EDU_PriceBook_is_NOT_Null_Primary_SUMS</name>
        <label>Check if EDU PriceBook is NOT Null - Primary SUMS</label>
        <locationX>890</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>PriceBookEntry_for_the_Primary_SUMS_Product_of_Non_EDU_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EDU PriceBook is Null - Primary SUMS</defaultConnectorLabel>
        <rules>
            <name>EDU_PriceBook_is_NOT_Null_Primary_SUMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookEDU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceBookEntry_for_the_Primary_SUMS_Product_of_EDU_PriceBook</targetReference>
            </connector>
            <label>EDU PriceBook is NOT Null - Primary SUMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_EDU_PriceBook_is_Not_Null_Secondary_Product</name>
        <label>Check if EDU PriceBook is Not Null - Secondary Product</label>
        <locationX>1206</locationX>
        <locationY>1062</locationY>
        <defaultConnector>
            <targetReference>PriceBookEntry_for_the_Secondary_Product_of_Non_EDU_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EDU PriceBook is Null - Secondary Product</defaultConnectorLabel>
        <rules>
            <name>EDU_PriceBook_is_NOT_Null_Secondary_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookEDU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceBookEntry_for_the_Secondary_Product_of_EDU_PriceBook</targetReference>
            </connector>
            <label>EDU PriceBook is NOT Null - Secondary Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_EDU_PriceBook_is_NOT_Null_Secondary_SUMS</name>
        <label>Check if EDU PriceBook is NOT Null - Secondary SUMS</label>
        <locationX>1733</locationX>
        <locationY>1212</locationY>
        <defaultConnector>
            <targetReference>PriceBookEntry_for_the_Secondary_SUMS_Product_of_Non_EDU_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EDU PriceBook is Null - Secondary SUMS</defaultConnectorLabel>
        <rules>
            <name>EDU_PriceBook_is_NOT_Null_Secondary_SUMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookEDU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceBookEntry_for_the_Secondary_SUMS_Product_of_EDU_PriceBook</targetReference>
            </connector>
            <label>EDU PriceBook is NOT Null - Secondary SUMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_existingOLIsToDelete_is_Not_Null</name>
        <label>Check if existingOLIsToDelete is Not Null</label>
        <locationX>132</locationX>
        <locationY>1764</locationY>
        <defaultConnector>
            <targetReference>OLI_got_created_Successfully_to_the_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>existingOLIsToDelete is Null</defaultConnectorLabel>
        <rules>
            <name>existingOLIsToDelete_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingOLIsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_all_existing_OLI_s</targetReference>
            </connector>
            <label>existingOLIsToDelete is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OpportunityProductforPrimaryProductVar_is_Null</name>
        <label>Check if OpportunityProductforPrimaryProductVar is Null</label>
        <locationX>126</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>Check_if_EDU_PriceBook_is_NOT_Null_Primary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OpportunityProductforPrimaryProductVar is NOT Null</defaultConnectorLabel>
        <rules>
            <name>OpportunityProductforPrimaryProductVar_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductforPrimaryProductVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrimaryProductMatchingProductIsNotFound</targetReference>
            </connector>
            <label>OpportunityProductforPrimaryProductVar is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OpportunityProductforPrimarySUMSVar_is_Null</name>
        <label>Check if OpportunityProductforPrimarySUMSVar is Null</label>
        <locationX>887</locationX>
        <locationY>1164</locationY>
        <defaultConnector>
            <targetReference>Check_if_EDU_PriceBook_is_NOT_Null_Primary_SUMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OpportunityProductforPrimarySUMSVar is NOT Null</defaultConnectorLabel>
        <rules>
            <name>OpportunityProductforPrimarySUMSVar_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductforPrimarySUMSVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Product_for_Opportunity_Primary_Product</targetReference>
            </connector>
            <label>OpportunityProductforPrimarySUMSVar is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OpportunityProductforSecondaryProductVar_is_Null</name>
        <label>Check if OpportunityProductforSecondaryProductVar is Null</label>
        <locationX>1207</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>Check_if_EDU_PriceBook_is_Not_Null_Secondary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OpportunityProductforSecondaryProductVar is NOT Null</defaultConnectorLabel>
        <rules>
            <name>OpportunityProductforSecondaryProductVar_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductforSecondaryProductVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_OpportunityProductforPrimarySUMSVar_is_Null</targetReference>
            </connector>
            <label>OpportunityProductforSecondaryProductVar is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OpportunityProductforSecondarySUMSVar_is_Null</name>
        <label>Check if OpportunityProductforSecondarySUMSVar is Null</label>
        <locationX>1730</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Check_if_EDU_PriceBook_is_NOT_Null_Secondary_SUMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OpportunityProductforSecondarySUMSVar is NOT Null</defaultConnectorLabel>
        <rules>
            <name>OpportunityProductforSecondarySUMSVar_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductforSecondarySUMSVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Product_for_Opportunity_Secondary_Product</targetReference>
            </connector>
            <label>OpportunityProductforSecondarySUMSVar is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PPPriceBookEntryVar_is_NOT_Null</name>
        <label>Check if PPPriceBookEntryVar is NOT Null</label>
        <locationX>130</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>PrimaryProductMatchingProductIsNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PPPriceBookEntryVar is Null</defaultConnectorLabel>
        <rules>
            <name>PPPriceBookEntryVar_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PPPriceBookEntryVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OpportunityLineItem_with_Primary_Product_for_the_Opportunity</targetReference>
            </connector>
            <label>PPPriceBookEntryVar is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PPSUMSPriceBookEntryVar_is_NOT_Null</name>
        <label>Check if PPSUMSPriceBookEntryVar is NOT Null</label>
        <locationX>506</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>Matching_Product_for_Opportunity_Primary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PPSUMSPriceBookEntryVar is Null</defaultConnectorLabel>
        <rules>
            <name>PPSUMSPriceBookEntryVar_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PPSUMSPriceBookEntryVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OpportunityLineItem_with_Primary_SUMS_Product_for_the_Opportunity</targetReference>
            </connector>
            <label>PPSUMSPriceBookEntryVar is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Primary_Product_is_Not_Null</name>
        <label>Check if Primary Product is Not Null</label>
        <locationX>340</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Primary_Product_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Product is Null</defaultConnectorLabel>
        <rules>
            <name>Primary_Product_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Primary_Product_Qunatity_is_Not_Null_or_Zero</targetReference>
            </connector>
            <label>Primary Product is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Primary_Product_Qunatity_is_Not_Null_or_Zero</name>
        <label>Check if Primary Product Qunatity is Not Null or Zero</label>
        <locationX>341</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Primary_Product_Quantity_is_Null_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Product Quantity is Null or Zero</defaultConnectorLabel>
        <rules>
            <name>Primary_Product_Quantity_is_NOT_Null_or_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_SKU_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_SKU_Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Primary_SUMS_is_Not_Null</targetReference>
            </connector>
            <label>Primary Product Quantity is NOT Null or Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Primary_SUMS_is_Not_Null</name>
        <label>Check if Primary SUMS is Not Null</label>
        <locationX>749</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Check_if_Secondary_Product_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary SUMS is Null</defaultConnectorLabel>
        <rules>
            <name>Primary_SUMS_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_SKU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Product_for_Opportunity_Primary_SUMS</targetReference>
            </connector>
            <label>Primary SUMS is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Secondary_Product_is_Not_Null</name>
        <label>Check if Secondary Product is Not Null</label>
        <locationX>1204</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Check_if_OpportunityProductforPrimarySUMSVar_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary Product is Null</defaultConnectorLabel>
        <rules>
            <name>Secondary_Product_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_Secondary_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Secondary_Product_Quantity_is_Not_Null_or_Zero</targetReference>
            </connector>
            <label>Secondary Product is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Secondary_Product_Quantity_is_Not_Null_or_Zero</name>
        <label>Check if Secondary Product Quantity is Not Null or Zero</label>
        <locationX>1207</locationX>
        <locationY>812</locationY>
        <defaultConnector>
            <targetReference>Check_if_OpportunityProductforPrimarySUMSVar_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary Product Quantity is Null or Zero</defaultConnectorLabel>
        <rules>
            <name>Secondary_Product_Quantity_is_NOT_Null_or_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_Secondary_SKU_Quntity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_Secondary_SKU_Quntity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Secondary_SUMS_is_Not_Null</targetReference>
            </connector>
            <label>Secondary Product Quantity is NOT Null or Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Secondary_SUMS_is_Not_Null</name>
        <label>Check if Secondary SUMS is Not Null</label>
        <locationX>1725</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>Matching_Product_for_Opportunity_Secondary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary SUMS is Null</defaultConnectorLabel>
        <rules>
            <name>Secondary_SUMS_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitySObjVar.DR_Secondary_SKU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Product_for_Opportunity_Secondary_SUMS</targetReference>
            </connector>
            <label>Secondary SUMS is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SPPriceBookEntryVar_is_NOT_Null</name>
        <label>Check if SPPriceBookEntryVar is NOT Null</label>
        <locationX>1146</locationX>
        <locationY>1306</locationY>
        <defaultConnector>
            <targetReference>Check_if_OpportunityProductforPrimarySUMSVar_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SPPriceBookEntryVar is Null</defaultConnectorLabel>
        <rules>
            <name>SPPriceBookEntryVar_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPPriceBookEntryVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OpportunityLineItem_with_Secondary_Product_for_the_Opportunity</targetReference>
            </connector>
            <label>SPPriceBookEntryVar is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SPSUMSPriceBookEntryVar_is_NOT_Null</name>
        <label>Check if SPSUMSPriceBookEntryVar is NOT Null</label>
        <locationX>1740</locationX>
        <locationY>1470</locationY>
        <defaultConnector>
            <targetReference>Matching_Product_for_Opportunity_Secondary_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SPSUMSPriceBookEntryVar is Null</defaultConnectorLabel>
        <rules>
            <name>SPSUMSPriceBookEntryVar_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPSUMSPriceBookEntryVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OpportunityLineItem_with_Secondary_SUMS_Product_for_the_Opportunity</targetReference>
            </connector>
            <label>SPSUMSPriceBookEntryVar is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_value_in_DR_Program_Type_field</name>
        <label>Check the value in DR Program Type field</label>
        <locationX>667</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Find_the_Non_EDU_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DR Program Type for Non-EDU</defaultConnectorLabel>
        <rules>
            <name>DR_Program_Type_for_EDU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DR_Program_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GRID SW Opp Reg EDU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DR_Program_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGX Opp Reg Inception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DR_Program_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DGX Opp Reg EDU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_EDU_PriceBook</targetReference>
            </connector>
            <label>DR Program Type for EDU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_value_in_DR_Program_Type_field_is_Not_Null</name>
        <label>Check the value in DR Program Type field is Not Null</label>
        <locationX>211</locationX>
        <locationY>11</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DR_Program_Type_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DR_Program_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_ProgramType_is_Null</targetReference>
            </connector>
            <label>DR Program Type is Null</label>
        </rules>
        <rules>
            <name>DR_Program_Type_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DR_Program_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_value_in_DR_Program_Type_field</targetReference>
            </connector>
            <label>DR Program Type is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>OLI_got_created_Successfully_to_the_Opportunity</name>
        <label>OLI got created Successfully to the Opportunity</label>
        <locationX>544</locationX>
        <locationY>1759</locationY>
        <defaultConnector>
            <targetReference>PrimaryProductMatchingProductIsNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OLI is Null</defaultConnectorLabel>
        <rules>
            <name>OLI_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewPrimaryProductOLIId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Success_Message</targetReference>
            </connector>
            <label>OLI is NOT Null</label>
        </rules>
    </decisions>
    <description>This Flow will add Products to the Opportunity basing on value in &quot;DR_Product_Type__c&quot; field. This has entire logic on Primary Product, Primary SUMS Product, Secondary Product and Secondary Product SUMS. Enhanced final screen message.</description>
    <interviewLabel>Deal Registration : FL: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Registration : FL: Convert DR Products</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OpportunityLineItem_with_Primary_Product_for_the_Opportunity</name>
        <label>Create OpportunityLineItem with Primary Product for the Opportunity</label>
        <locationX>131</locationX>
        <locationY>1513</locationY>
        <assignRecordIdToReference>NewPrimaryProductOLIId</assignRecordIdToReference>
        <connector>
            <targetReference>Pull_all_existing_OpportunityLineItems_for_the_Opportunity_to_Delete</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>OpportunityProductforPrimaryProductVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>OpportunitySObjVar.DR_SKU_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>PPPriceBookEntryVar.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityLineItem_with_Primary_SUMS_Product_for_the_Opportunity</name>
        <label>Create OpportunityLineItem with Primary SUMS Product for the Opportunity</label>
        <locationX>507</locationX>
        <locationY>698</locationY>
        <assignRecordIdToReference>NewPrimarySUMSOLIId</assignRecordIdToReference>
        <connector>
            <targetReference>Matching_Product_for_Opportunity_Primary_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>OpportunityProductforPrimarySUMSVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>OpportunitySObjVar.DR_SKU_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>PPSUMSPriceBookEntryVar.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityLineItem_with_Secondary_Product_for_the_Opportunity</name>
        <label>Create OpportunityLineItem with Secondary Product for the Opportunity</label>
        <locationX>1148</locationX>
        <locationY>1443</locationY>
        <assignRecordIdToReference>NewSecondaryProductOLIId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_if_OpportunityProductforPrimarySUMSVar_is_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>OpportunityProductforSecondaryProductVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>OpportunitySObjVar.DR_Secondary_SKU_Quntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>SPPriceBookEntryVar.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityLineItem_with_Secondary_SUMS_Product_for_the_Opportunity</name>
        <label>Create OpportunityLineItem with Secondary SUMS Product for the Opportunity</label>
        <locationX>1743</locationX>
        <locationY>1608</locationY>
        <assignRecordIdToReference>NewSecondarySUMSOLIId</assignRecordIdToReference>
        <connector>
            <targetReference>Matching_Product_for_Opportunity_Secondary_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>OpportunityProductforSecondarySUMSVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>OpportunitySObjVar.DR_Secondary_SKU_Quntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>SPSUMSPriceBookEntryVar.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_existing_OLI_s</name>
        <label>Delete all existing OLI&apos;s</label>
        <locationX>132</locationX>
        <locationY>1908</locationY>
        <connector>
            <targetReference>OLI_got_created_Successfully_to_the_Opportunity</targetReference>
        </connector>
        <inputReference>existingOLIsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Collect all the Opportunity fields informaiton into a Sobject variable.</description>
        <name>Collect_Opportunity_Info</name>
        <label>Collect Opportunity Info</label>
        <locationX>673</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Primary_Product_is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunitySObjVar</outputReference>
        <queriedFields>DR_Product__c</queriedFields>
        <queriedFields>DR_SKU__c</queriedFields>
        <queriedFields>DR_SKU_Quantity__c</queriedFields>
        <queriedFields>DR_Secondary_Product__c</queriedFields>
        <queriedFields>DR_Secondary_SKU_Quntity__c</queriedFields>
        <queriedFields>DR_Secondary_SKU__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_the_EDU_PriceBook</name>
        <label>Find the EDU PriceBook</label>
        <locationX>472</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_with_EDU_PriceBook</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OppReg EDU Price Book</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>PriceBookEDU</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_the_Non_EDU_PriceBook</name>
        <label>Find the Non-EDU PriceBook</label>
        <locationX>863</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_with_Non_EDU_PriceBook</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OppReg Price Book</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>PriceBookNonEDU</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Matching_Product_for_Opportunity_Primary_Product</name>
        <label>Matching Product for Opportunity Primary Product</label>
        <locationX>126</locationX>
        <locationY>840</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_OpportunityProductforPrimaryProductVar_is_Null</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunitySObjVar.DR_Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>OpportunityProductforPrimaryProductVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Matching_Product_for_Opportunity_Primary_SUMS</name>
        <label>Matching Product for Opportunity Primary SUMS</label>
        <locationX>750</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Secondary_Product_is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunitySObjVar.DR_SKU__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>OpportunityProductforPrimarySUMSVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Matching_Product_for_Opportunity_Secondary_Product</name>
        <label>Matching Product for Opportunity Secondary Product</label>
        <locationX>1410</locationX>
        <locationY>941</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_OpportunityProductforSecondaryProductVar_is_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunitySObjVar.DR_Secondary_Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>OpportunityProductforSecondaryProductVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Matching_Product_for_Opportunity_Secondary_SUMS</name>
        <label>Matching Product for Opportunity Secondary SUMS</label>
        <locationX>1728</locationX>
        <locationY>954</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_OpportunityProductforSecondarySUMSVar_is_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunitySObjVar.DR_Secondary_SKU__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>OpportunityProductforSecondarySUMSVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Primary_SUMS_Product_of_EDU_PriceBook</name>
        <label>PriceBookEntry for the Primary SUMS Product of EDU PriceBook</label>
        <locationX>891</locationX>
        <locationY>828</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PPSUMSPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforPrimarySUMSVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PPSUMSPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Primary_SUMS_Product_of_Non_EDU_PriceBook</name>
        <label>PriceBookEntry for the Primary SUMS Product of Non-EDU PriceBook</label>
        <locationX>505</locationX>
        <locationY>948</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PPSUMSPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookNonEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforPrimarySUMSVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PPSUMSPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Product_of_EDU_PriceBook</name>
        <label>PriceBookEntry for the Product of EDU PriceBook</label>
        <locationX>130</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PPPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforPrimaryProductVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PPPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Product_of_Non_EDU_PriceBook</name>
        <label>PriceBookEntry for the Product of Non-EDU PriceBook</label>
        <locationX>535</locationX>
        <locationY>1366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PPPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookNonEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforPrimaryProductVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PPPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Secondary_Product_of_EDU_PriceBook</name>
        <label>PriceBookEntry for the Secondary Product of EDU PriceBook</label>
        <locationX>1144</locationX>
        <locationY>1182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SPPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforSecondaryProductVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>SPPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Secondary_Product_of_Non_EDU_PriceBook</name>
        <label>PriceBookEntry for the Secondary Product of Non-EDU PriceBook</label>
        <locationX>1489</locationX>
        <locationY>1280</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SPPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookNonEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforSecondaryProductVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>SPPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Secondary_SUMS_Product_of_EDU_PriceBook</name>
        <label>PriceBookEntry for the Secondary SUMS Product of EDU PriceBook</label>
        <locationX>1737</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SPSUMSPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforSecondarySUMSVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>SPSUMSPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PriceBookEntry_for_the_Secondary_SUMS_Product_of_Non_EDU_PriceBook</name>
        <label>PriceBookEntry for the Secondary SUMS Product of Non-EDU PriceBook</label>
        <locationX>2098</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SPSUMSPriceBookEntryVar_is_NOT_Null</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookNonEDU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProductforSecondarySUMSVar.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>SPSUMSPriceBookEntryVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Pull_all_existing_OpportunityLineItems_for_the_Opportunity_to_Delete</name>
        <label>Pull all existing OpportunityLineItems for the Opportunity to Delete</label>
        <locationX>133</locationX>
        <locationY>1639</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_existingOLIsToDelete_is_Not_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NewPrimaryProductOLIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NewPrimarySUMSOLIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NewSecondaryProductOLIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NewSecondarySUMSOLIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>existingOLIsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_with_EDU_PriceBook</name>
        <label>Update Opp with EDU PriceBook</label>
        <locationX>472</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Collect_Opportunity_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PriceBookEDU.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookEDU.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Non_EDU_PriceBook</name>
        <label>Update Opp with Non-EDU PriceBook</label>
        <locationX>865</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Collect_Opportunity_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PriceBookNonEDU.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookNonEDU.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>DR_ProgramType_is_Null</name>
        <label>DR ProgramType is Null</label>
        <locationX>213</locationX>
        <locationY>142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DRProgramTypeisNULL</name>
            <fieldText>Program Type of this Opportunity is NULL. Please enter a valid value in order to add Products.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Success_Message</name>
        <label>Final Success Message</label>
        <locationX>545</locationX>
        <locationY>1908</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalSuccessMessage</name>
            <fieldText>Products are added Successfully. Please refresh the page in order to see the newly added Products.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Primary_Product_is_Null</name>
        <label>Primary Product is Null</label>
        <locationX>11</locationX>
        <locationY>318</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrimaryProductNullZeroOutputMessage</name>
            <fieldText>Primary Product of this Opportunity is NULL. Please enter a valid value in order to add Products.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Primary_Product_Quantity_is_Null_Zero</name>
        <label>Primary Product Quantity is Null/Zero</label>
        <locationX>9</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrimaryProductQuantityisNullZeroDisplayMessage</name>
            <fieldText>Primary Product Quantity of this Opportunity is either Null/Zero. Please enter a valid value in order to add Products.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PrimaryProductMatchingProductIsNotFound</name>
        <label>PrimaryProductMatchingProductIsNotFound</label>
        <locationX>1156</locationX>
        <locationY>1618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrimaryProductMatchingProductIsNotFoundDisplayMessage</name>
            <fieldText>Unable to copy products onto the opportunity. Please log a case for further support.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Check_the_value_in_DR_Program_Type_field_is_Not_Null</startElementReference>
    <status>Active</status>
    <variables>
        <description>This has the value of field &quot;DR_Program_type__c&quot;</description>
        <name>DR_Program_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will have all exisitng OpportunityLineItems</description>
        <name>existingOLIsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewPrimaryProductOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPrimarySUMSOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSecondaryProductOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSecondarySUMSOLIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the Id of the Source Opportunity</description>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable contains the Product record that matched with the Opportunity Primary Product.</description>
        <name>OpportunityProductforPrimaryProductVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>OpportunityProductforPrimarySUMSVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>OpportunityProductforSecondaryProductVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>OpportunityProductforSecondarySUMSVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>This object maintains all field values of the Opportunity</description>
        <name>OpportunitySObjVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PPPriceBookEntryVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PPSUMSPriceBookEntryVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>This has the &quot;Opp Reg EDU Pricebook&quot; record details</description>
        <name>PriceBookEDU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <description>This variable contains the &quot;Opp Reg Pricebook&quot;</description>
        <name>PriceBookNonEDU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>SPPriceBookEntryVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>This variable is for Secondary Product SUMS</description>
        <name>SPSUMSPriceBookEntryVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
