force-app/main/default/flows/EDU_Lead_Registration_Set_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDU_Lead_Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>EDU Lead Registration RT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RTX6000_Refresh_Promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>RTX6000 Refresh Promotion</label>
        </rules>
    </decisions>
    <description>EDU Lead Registration : Set Channel Admins based on Country (Customer Settings : NPNPD__c); Same for RTX6K Upsell</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Lead].CountryCode, 
&quot;AU&quot;, $Setup.NPNPD__c.APAC__c,
&quot;BD&quot;, $Setup.NPNPD__c.APAC__c,
&quot;CN&quot;, $Setup.NPNPD__c.CN__c,
&quot;BT&quot;, $Setup.NPNPD__c.APAC__c,
&quot;FJ&quot;, $Setup.NPNPD__c.APAC__c,
&quot;HK&quot;, $Setup.NPNPD__c.APAC__c,
&quot;ID&quot;, $Setup.NPNPD__c.APAC__c,
&quot;IN&quot;, $Setup.NPNPD__c.APAC__c,
&quot;KH&quot;, $Setup.NPNPD__c.APAC__c,
&quot;KR&quot;, $Setup.NPNPD__c.APAC__c,
&quot;LK&quot;, $Setup.NPNPD__c.APAC__c,
&quot;MM&quot;, $Setup.NPNPD__c.APAC__c,
&quot;MY&quot;, $Setup.NPNPD__c.APAC__c,
&quot;NP&quot;, $Setup.NPNPD__c.APAC__c,
&quot;NZ&quot;, $Setup.NPNPD__c.APAC__c,
&quot;PH&quot;, $Setup.NPNPD__c.APAC__c,
&quot;PK&quot;, $Setup.NPNPD__c.APAC__c,
&quot;SB&quot;, $Setup.NPNPD__c.APAC__c,
&quot;SG&quot;, $Setup.NPNPD__c.APAC__c,
&quot;SR&quot;, $Setup.NPNPD__c.APAC__c,
&quot;TH&quot;, $Setup.NPNPD__c.APAC__c,
&quot;TO&quot;, $Setup.NPNPD__c.APAC__c,
&quot;TW&quot;, $Setup.NPNPD__c.APAC__c,
&quot;VN&quot;, $Setup.NPNPD__c.APAC__c,
&quot;AE&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;AL&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;AF&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;AM&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;BY&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;CH&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;CI&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;AO&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;AT&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;BE&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;BG&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;CM&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;BH&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;CZ&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;DE&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;DK&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;EE&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;EG&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;ES&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;FI&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;FR&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;GB&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;GR&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;HR&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;HU&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;IE&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;IL&quot;, $Setup.NPNPD__c.IL__c,
&quot;IM&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;IR&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;IS&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;IT&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;KW&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;LB&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;NL&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;NO&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;OM&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;PL&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;PS&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;PT&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;QA&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;RO&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;RS&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;RU&quot;, $Setup.NPNPD__c.RU__c,
&quot;SA&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;SC&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;SE&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;SI&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;SK&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;SY&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;TR&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;TZ&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;UA&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;UG&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;UZ&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;YE&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;ZA&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;ZM&quot;, $Setup.NPNPD__c.EMEA__c,
&quot;JP&quot;, $Setup.NPNPD__c.JP__c,
&quot;CA&quot;, $Setup.NPNPD__c.CA__c,
&quot;AR&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;CO&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;BR&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;HN&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;HT&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;JM&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;KY&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;LC&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;MQ&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;MS&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;MX&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;NI&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;PA&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;PE&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;PR&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;PY&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;SV&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;TT&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;US&quot;, $Setup.NPNPD__c.US__c,
&quot;UY&quot;, $Setup.NPNPD__c.LATAM__c,
&quot;VE&quot;, $Setup.NPNPD__c.LATAM__c,
$Setup.NPNPD__c.Other__c
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_6603633903</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.CountryCode}, 
&quot;AU&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;BD&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;CN&quot;, {!$Setup.NPNPD__c.CN__c},
&quot;BT&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;FJ&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;HK&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;ID&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;IN&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;KH&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;KR&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;LK&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;MM&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;MY&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;NP&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;NZ&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;PH&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;PK&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;SB&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;SG&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;SR&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;TH&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;TO&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;TW&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;VN&quot;, {!$Setup.NPNPD__c.APAC__c},
&quot;AE&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;AL&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;AF&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;AM&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;BY&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;CH&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;CI&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;AO&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;AT&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;BE&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;BG&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;CM&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;BH&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;CZ&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;DE&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;DK&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;EE&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;EG&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;ES&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;FI&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;FR&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;GB&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;GR&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;HR&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;HU&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;IE&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;IL&quot;, {!$Setup.NPNPD__c.IL__c},
&quot;IM&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;IR&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;IS&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;IT&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;KW&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;LB&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;NL&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;NO&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;OM&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;PL&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;PS&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;PT&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;QA&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;RO&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;RS&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;RU&quot;, {!$Setup.NPNPD__c.RU__c},
&quot;SA&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;SC&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;SE&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;SI&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;SK&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;SY&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;TR&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;TZ&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;UA&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;UG&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;UZ&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;YE&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;ZA&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;ZM&quot;, {!$Setup.NPNPD__c.EMEA__c},
&quot;JP&quot;, {!$Setup.NPNPD__c.JP__c},
&quot;CA&quot;, {!$Setup.NPNPD__c.CA__c},
&quot;AR&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;CO&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;BR&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;HN&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;HT&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;JM&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;KY&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;LC&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;MQ&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;MS&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;MX&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;NI&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;PA&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;PE&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;PR&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;PY&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;SV&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;TT&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;US&quot;, {!$Setup.NPNPD__c.US__c},
&quot;UY&quot;, {!$Setup.NPNPD__c.LATAM__c},
&quot;VE&quot;, {!$Setup.NPNPD__c.LATAM__c},
{!$Setup.NPNPD__c.Other__c}
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Lead].Region__c, 
&quot;NALA&quot;, $Setup.RTX6000_DR_Settings__c.NALA__c,
&quot;EMEA&quot;, $Setup.RTX6000_DR_Settings__c.EMEA__c,
$Setup.RTX6000_DR_Settings__c.Other__c
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_9056383591</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Region__c}, 
&quot;NALA&quot;, {!$Setup.RTX6000_DR_Settings__c.NALA__c},
&quot;EMEA&quot;, {!$Setup.RTX6000_DR_Settings__c.EMEA__c},
{!$Setup.RTX6000_DR_Settings__c.Other__c}
)</expression>
    </formulas>
    <interviewLabel>EDU_Lead_Registration_Set_Approvers-4_InterviewLabel</interviewLabel>
    <label>EDU/RTX6K Lead Registration : Set Approvers</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Channel Admin - Edu Lead</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Channel Admin</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>DR_ChannelAdmin__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_6603633903</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Set Channel Admin - RTX6000 Lead</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Channel Admin</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>DR_ChannelAdmin__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_9056383591</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
