force-app/main/default/flows/JetsonDR_FL_Set_Opp_Fields_from_Lead_and_Share_with_NPN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Country_List_Lookup</name>
        <label>Check Country List Lookup</label>
        <locationX>521</locationX>
        <locationY>577</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Country_List_Lookup_is_NON_BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country_List_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_NameDescriptionAndInstallationLocation</targetReference>
            </connector>
            <label>If Country List Lookup is NON-BLANK</label>
        </rules>
        <rules>
            <name>If_Country_List_Lookup_is_BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country_List_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_NameAndDescription</targetReference>
            </connector>
            <label>If Country List Lookup is BLANK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opp_Owner_and_Partner_User_are_same</name>
        <label>Check if Opp Owner and Partner User are same</label>
        <locationX>513</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Opp_Owner_Same_As_Partner_User_Then_Skip_Creating_Edit_Share</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Record_lkp.NPNUserId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opp_OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_List_Record_lkp</targetReference>
            </connector>
            <label>Is Opp Owner Same As Partner User Then Skip Creating Edit Share</label>
        </rules>
        <rules>
            <name>If_Opp_Owner_is_NOT_same_as_Partner_User_then_Create_Edit_Share</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Record_lkp.NPNUserId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opp_OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Share_for_Partner</targetReference>
            </connector>
            <label>If Opp Owner is NOT same as Partner User then Create Edit Share</label>
        </rules>
    </decisions>
    <description>Deal Registration : Set Opp Fields (Name, Description, Industry Installation Location) and Share with NPN</description>
    <formulas>
        <description>Value derived from Custom Settings (Jetson_DR_Settings__c: Lead Type)</description>
        <name>LeadType_Jetson_Registration</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Jetson_DR_Settings__c.Lead_Type__c}</expression>
    </formulas>
    <interviewLabel>JetsonDR : FL : Set Opp Fields from Lead and Share with NPN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JetsonDR : FL : Set Opp Fields from Lead and Share with NPN</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Share Opportunity with Partner User</description>
        <name>Create_Opportunity_Share_for_Partner</name>
        <label>Create Opportunity Share for Partner</label>
        <locationX>1005</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Country_List_Record_lkp</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>DR_Opp_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Lead_Record_lkp.NPNUserId__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityShare</object>
    </recordCreates>
    <recordLookups>
        <name>Converted_Lead_from_Jetson_Deal_Registation</name>
        <label>Converted Lead (from Jetson Deal Registation)</label>
        <locationX>512</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Opp_Owner_and_Partner_User_are_same</targetReference>
        </connector>
        <filters>
            <field>DR_Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadType_Jetson_Registration</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id_For_Opportunity</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead_Record_lkp</outputReference>
        <queriedFields>Description</queriedFields>
        <queriedFields>DR_Opportunity_Name__c</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>DR_Registration_Close_Date__c</queriedFields>
        <queriedFields>NPNUserId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Country_List_Record_lkp</name>
        <label>Country_List_Record_lkp</label>
        <locationX>517</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Country_List_Lookup</targetReference>
        </connector>
        <filters>
            <field>ISO_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Record_lkp.CountryCode</elementReference>
            </value>
        </filters>
        <object>Country_List__c</object>
        <outputReference>Country_List_Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_NameAndDescription</name>
        <label>Update_Opportunity_NamdAndDescription</label>
        <locationX>744</locationX>
        <locationY>679</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DR_Opp_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Lead_Record_lkp.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Lead_Record_lkp.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Lead_Record_lkp.DR_Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Deal Reg Opportunity with Name, Description and Installation Location from Country List matching with DR_Lead_Country__c and Description from Converted Lead</description>
        <name>Update_Opportunity_NameDescriptionAndInstallationLocation</name>
        <label>Update_Opportunity_NameDescriptionAndInstallationLocation</label>
        <locationX>330</locationX>
        <locationY>682</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DR_Opp_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DR_Installation_Location__c</field>
            <value>
                <elementReference>Country_List_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Lead_Record_lkp.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Lead_Record_lkp.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Lead_Record_lkp.DR_Opportunity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Converted_Lead_from_Jetson_Deal_Registation</startElementReference>
    <status>Active</status>
    <variables>
        <description>Country List record for the associated DR_Lead_Country__c</description>
        <name>Country_List_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country_List__c</objectType>
    </variables>
    <variables>
        <description>Id of the Opportunity created from Deal Reg Lead conversion</description>
        <name>DR_Opp_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lead Id for Opportunity (orignially comes from field mapping)</description>
        <name>Lead_Id_For_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Converted Lead record</description>
        <name>Lead_Record_lkp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Opportunity Owner Id</description>
        <name>Opp_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
