force-app/main/default/flows/JetsonDR_EduDR_FL_Set_Channel_Admin_based_on_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set JetsonDR Lead - Channel Admin, Owner, LeadSource, Lead Type</description>
        <name>Set_Channel_Admin_From_Custom_Settings</name>
        <label>Set Channel Admin From Custom Settings</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.DR_ChannelAdmin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.JetsonDR_Lead_Default_Channel_Admin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JetsonDR_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.JetsonDR_Lead_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DR_Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set JetsonDR Lead - Channel Admin, Owner, LeadSource, Lead Type</description>
        <name>Set_Channel_Admin_From_Custom_Settings_0</name>
        <label>Set Channel Admin From Custom Settings</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.DR_ChannelAdmin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NPNPD.Other__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set JetsonDR Lead Channel Admin from ChannelAdmin Approval Routing custom object</description>
        <name>Set_Channel_Admin_from_Routing_Object</name>
        <label>Set Channel Admin from Routing Object</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.DR_ChannelAdmin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JetsonChannelApproverId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JetsonDR_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.JetsonDR_Lead_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DR_Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Edu Lead Channel Admin from ChannelAdmin Approval Routing custom object</description>
        <name>Set_Channel_Admin_from_Routing_Object_0</name>
        <label>Set Channel Admin from Routing Object</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.DR_ChannelAdmin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EduLeadChannelApproverId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Lead_Record_Type</name>
        <label>Check Lead Record Type</label>
        <locationX>644</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Jetson_Deal_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jetson_Deal_Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChannelAdmin_Approval_Routing</targetReference>
            </connector>
            <label>Jetson Deal Registration</label>
        </rules>
        <rules>
            <name>Edu_Lead_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDU_Lead_Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChannelAdmin_Approval_Routing_0</targetReference>
            </connector>
            <label>Edu Lead Registration</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is EduLead Approver defined for the Country</description>
        <name>Is_EduLead_Approver_Defined_for_the_Country</name>
        <label>Is EduLead Approver Defined for the Country</label>
        <locationX>710</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_Channel_Admin_From_Custom_Settings_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EduLead Approver Not Found</defaultConnectorLabel>
        <rules>
            <name>EduLead_Approve_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EduLeadChannelApproverId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_Admin_from_Routing_Object_0</targetReference>
            </connector>
            <label>EduLead Approve Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Jetson Approver Defined for the Country</description>
        <name>Is_Jetson_Approver_Defined_for_the_Country</name>
        <label>Is Jetson Approver Defined for the Country</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_Channel_Admin_From_Custom_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Jetson Approver Not Found</defaultConnectorLabel>
        <rules>
            <name>Jetson_Approver_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JetsonChannelApproverId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_Admin_from_Routing_Object</targetReference>
            </connector>
            <label>Jetson Approver Found</label>
        </rules>
    </decisions>
    <description>JetsonDR/EduDR : FL : Set Channel Admin based on Country - Set Channel Admin from ChannelAdmin Approval Routing object</description>
    <interviewLabel>JetsonDR/EduDR: FL : Set Channel Admin based on Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JetsonDR/EduDR: FL : Set Channel Admin based on Country</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>ChannelAdmin Approval Routing for the matching Country Code</description>
        <name>ChannelAdmin_Approval_Routing</name>
        <label>ChannelAdmin Approval Routing</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Jetson_DR_Settings</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>IsChannelAdminActiveInternalUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ChannelAdmin_Approval_Routing__c</object>
        <outputAssignments>
            <assignToReference>JetsonChannelApproverId</assignToReference>
            <field>Jetson_Approver__c</field>
        </outputAssignments>
        <sortField>CountryCodeStateCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>ChannelAdmin Approval Routing for the matching Country Code</description>
        <name>ChannelAdmin_Approval_Routing_0</name>
        <label>ChannelAdmin Approval Routing</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NPNPD</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>IsEduLeadApproverActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ChannelAdmin_Approval_Routing__c</object>
        <outputAssignments>
            <assignToReference>EduLeadChannelApproverId</assignToReference>
            <field>EduLead_Approver__c</field>
        </outputAssignments>
        <sortField>CountryCodeStateCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get data from custom settings Jetson DR : Settings [ Lead Type, JetsonDR Lead - Default Channel Admin, JetsonDR Lead - Owner]</description>
        <name>Jetson_DR_Settings</name>
        <label>Jetson DR : Settings</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Jetson_Approver_Defined_for_the_Country</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Jetson_DR_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get data from custom settings NPNPD__c [Other__c]</description>
        <name>NPNPD</name>
        <label>NPNPD</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_EduLead_Approver_Defined_for_the_Country</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NPNPD__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Lead_Record_Type</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0121W000000E01k</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0121W000000DytG</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Edu Lead Approver Id</description>
        <name>EduLeadChannelApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Jetson Approver (user Id) from Channel Admin Approval Routing object based on Country</description>
        <name>JetsonChannelApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
