force-app/main/default/flows/JetsonDR_FL_Set_Channel_Admin_based_on_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set JetsonDR Lead - Channel Admin, Owner, LeadSource, Lead Type</description>
        <name>Set_Channel_Admin_From_Custom_Settings</name>
        <label>Set Channel Admin From Custom Settings</label>
        <locationX>990</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>$Record.DR_ChannelAdmin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.JetsonDR_Lead_Default_Channel_Admin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JetsonDR_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.JetsonDR_Lead_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DR_Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set JetsonDR Lead Channel Admin from ChannelAdmin Approval Routing custom object</description>
        <name>Set_Channel_Admin_from_Routing_Object</name>
        <label>Set Channel Admin from Routing Object</label>
        <locationX>1241</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>$Record.DR_ChannelAdmin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JetsonChannelApproverId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JetsonDR_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.JetsonDR_Lead_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DR_Lead_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Jetson_DR_Settings.Lead_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Is Channel Admin defined for the Country</description>
        <name>Is_Channel_Admin_Defined_for_the_Country</name>
        <label>Is Channel Admin Defined for the Country</label>
        <locationX>986</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Channel_Admin_From_Custom_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Channel Admin Not Found</defaultConnectorLabel>
        <rules>
            <name>Channel_Admin_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JetsonChannelApproverId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_Admin_from_Routing_Object</targetReference>
            </connector>
            <label>Channel Admin Found</label>
        </rules>
    </decisions>
    <description>JetsonDR : FL : Set Channel Admin based on Country - Set Channel Admin from ChannelAdmin Approval Routing object</description>
    <interviewLabel>JetsonDR : FL : Set Approvers-{!$Record.Id}-{!$Record.CountryCode}-{!$Flow.CurrentDateTime}</interviewLabel>
    <label>JetsonDR : FL : Set Channel Admin based on Country</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>ChannelAdmin Approval Routing for the matching Country Code</description>
        <name>ChannelAdmin_Approval_Routing</name>
        <label>ChannelAdmin Approval Routing</label>
        <locationX>522</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Jetson_DR_Settings</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>IsChannelAdminActiveInternalUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ChannelAdmin_Approval_Routing__c</object>
        <outputAssignments>
            <assignToReference>JetsonChannelApproverId</assignToReference>
            <field>Jetson_Approver__c</field>
        </outputAssignments>
        <sortField>CountryCodeStateCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get data from custom settings Jetson DR : Settings [ Lead Type, JetsonDR Lead - Default Channel Admin, JetsonDR Lead - Owner]</description>
        <name>Jetson_DR_Settings</name>
        <label>Jetson DR : Settings</label>
        <locationX>752</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Channel_Admin_Defined_for_the_Country</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Jetson_DR_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>55</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ChannelAdmin_Approval_Routing</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0121W000000E01k</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Jetson Approver (user Id) from Channel Admin Approval Routing object based on Country</description>
        <name>JetsonChannelApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
