force-app/main/default/flows/NVIDIA_CRM_Welcome_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_NVIDIA_PBM_User</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Welcome Email PBM</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>User.New_NVIDIA_PBM_User</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_NVIDIA_Sales_User_APAC</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Welcome Email APAC</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>User.New_NVIDIA_Sales_User_APAC</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_NVIDIA_Sales_User_NALA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Welcome Email NALA</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>User.New_NVIDIA_Sales_User_NALA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_NVIDIA_Sales_User_JAPAN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Welcome Email Japan</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>User.New_NVIDIA_Sales_User_JAPAN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_NVIDIA_Sales_User_EMEA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Welcome Email EMEA</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>User.New_NVIDIA_Sales_User_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Welcome Email PBM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Welcome Email APAC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Welcome Email NALA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Welcome Email Japan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Welcome Email EMEA</label>
        </rules>
    </decisions>
    <description>Used to send welcome email to NVIDIA Sales</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISPICKVAL([User].UserType, &quot;Standard&quot;),

ISCHANGED([User].IsActive),

[User].IsActive = TRUE,

[User].Do_Not_Send_Welcome_Email__c  = FALSE,

CONTAINS([User].UserRole.Name, &quot;PBM Sales&quot;)



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISPICKVAL({!myVariable_current.UserType}, &quot;Standard&quot;),

ISCHANGED({!myVariable_current.IsActive}),

{!myVariable_current.IsActive} = TRUE,

{!myVariable_current.Do_Not_Send_Welcome_Email__c}  = FALSE,

CONTAINS({!myVariable_current.UserRole.Name}, &quot;PBM Sales&quot;)



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISPICKVAL([User].UserType, &quot;Standard&quot;),

ISCHANGED([User].IsActive),

[User].IsActive = TRUE,

[User].Do_Not_Send_Welcome_Email__c  = FALSE,

ISPICKVAL([User].Region__c, &quot;APAC&quot;),

CONTAINS([User].UserRole.Name, &quot;Sales&quot;),

NOT(CONTAINS( [User].UserRole.Name, &quot;PBM&quot;)),

NOT(CONTAINS( [User].UserRole.Name, &quot;Ops&quot;))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISPICKVAL({!myVariable_current.UserType}, &quot;Standard&quot;),

ISCHANGED({!myVariable_current.IsActive}),

{!myVariable_current.IsActive} = TRUE,

{!myVariable_current.Do_Not_Send_Welcome_Email__c}  = FALSE,

ISPICKVAL({!myVariable_current.Region__c}, &quot;APAC&quot;),

CONTAINS({!myVariable_current.UserRole.Name}, &quot;Sales&quot;),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;PBM&quot;)),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;Ops&quot;))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISPICKVAL([User].UserType, &quot;Standard&quot;),

ISCHANGED([User].IsActive),

[User].IsActive = TRUE,

[User].Do_Not_Send_Welcome_Email__c  = FALSE,

ISPICKVAL([User].Region__c, &quot;NALA&quot;),

CONTAINS([User].UserRole.Name, &quot;Sales&quot;),

NOT(CONTAINS( [User].UserRole.Name, &quot;PBM&quot;)),

NOT(CONTAINS( [User].UserRole.Name, &quot;Ops&quot;))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISPICKVAL({!myVariable_current.UserType}, &quot;Standard&quot;),

ISCHANGED({!myVariable_current.IsActive}),

{!myVariable_current.IsActive} = TRUE,

{!myVariable_current.Do_Not_Send_Welcome_Email__c}  = FALSE,

ISPICKVAL({!myVariable_current.Region__c}, &quot;NALA&quot;),

CONTAINS({!myVariable_current.UserRole.Name}, &quot;Sales&quot;),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;PBM&quot;)),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;Ops&quot;))

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISPICKVAL([User].UserType, &quot;Standard&quot;),

ISCHANGED([User].IsActive),

[User].IsActive = TRUE,

[User].Do_Not_Send_Welcome_Email__c  = FALSE,

ISPICKVAL([User].Region__c, &quot;JAPAN&quot;),

CONTAINS([User].UserRole.Name, &quot;Sales&quot;),

NOT(CONTAINS( [User].UserRole.Name, &quot;PBM&quot;)),

NOT(CONTAINS( [User].UserRole.Name, &quot;Ops&quot;))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISPICKVAL({!myVariable_current.UserType}, &quot;Standard&quot;),

ISCHANGED({!myVariable_current.IsActive}),

{!myVariable_current.IsActive} = TRUE,

{!myVariable_current.Do_Not_Send_Welcome_Email__c}  = FALSE,

ISPICKVAL({!myVariable_current.Region__c}, &quot;JAPAN&quot;),

CONTAINS({!myVariable_current.UserRole.Name}, &quot;Sales&quot;),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;PBM&quot;)),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;Ops&quot;))

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

ISPICKVAL([User].UserType, &quot;Standard&quot;),

ISCHANGED([User].IsActive),

[User].IsActive = TRUE,

[User].Do_Not_Send_Welcome_Email__c  = FALSE,

ISPICKVAL([User].Region__c, &quot;EMEA&quot;),

CONTAINS([User].UserRole.Name, &quot;Sales&quot;),

NOT(CONTAINS( [User].UserRole.Name, &quot;PBM&quot;)),

NOT(CONTAINS( [User].UserRole.Name, &quot;Ops&quot;))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(

ISPICKVAL({!myVariable_current.UserType}, &quot;Standard&quot;),

ISCHANGED({!myVariable_current.IsActive}),

{!myVariable_current.IsActive} = TRUE,

{!myVariable_current.Do_Not_Send_Welcome_Email__c}  = FALSE,

ISPICKVAL({!myVariable_current.Region__c}, &quot;EMEA&quot;),

CONTAINS({!myVariable_current.UserRole.Name}, &quot;Sales&quot;),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;PBM&quot;)),

NOT(CONTAINS( {!myVariable_current.UserRole.Name}, &quot;Ops&quot;))

)</expression>
    </formulas>
    <interviewLabel>NVIDIA_CRM_Welcome_Email-2_InterviewLabel</interviewLabel>
    <label>NVIDIA CRM Welcome Email</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>User</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
