force-app/main/default/flows/OPP_FL_Set_NV_Forecast_Category_SL_Forecast_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set Sales Leader Forecast and Fields from Rollup fields</description>
        <name>Update_Sales_Leader_Forecast_Category_and_Amounts</name>
        <label>Update Sales Leader Forecast Category and Amounts</label>
        <locationX>666</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Leader_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NV_Forecast_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SL_DGX_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_DGX_Product_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SL_GRID_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GRID_Product_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SL_Other_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MCO_Eligible_Product_Amount_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SL_RTX_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RTX_Product_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SL_Tesla_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tesla_Product_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Leader_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>NV Forecast Category = 1-Closed</description>
        <name>X1_Closed</name>
        <label>1-Closed</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.NV_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1-Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Leader_Forecast_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>NV Forecast Category = 2-Commit</description>
        <name>X2_Commit</name>
        <label>2-Commit</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.NV_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2-Commit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Leader_Forecast_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>NV Forecast Category = 3-Best Case</description>
        <name>X3_Best_Case</name>
        <label>3-Best Case</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.NV_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3-Best Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Leader_Forecast_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>NV Forecast Category = 4-Pipeline</description>
        <name>X4_Pipeline</name>
        <label>4-Pipeline</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.NV_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4-Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Leader_Forecast_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>NV Forecast Category = 5-Other</description>
        <name>X5_Other</name>
        <label>5-Other</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.NV_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5-Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Leader_Forecast_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Opportunity Stages</description>
        <name>Opportunity_Stage_Check</name>
        <label>Opportunity Stage Check</label>
        <locationX>798</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospecting_Closed_Lost</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5_Other</targetReference>
            </connector>
            <label>Prospecting/Closed Lost</label>
        </rules>
        <rules>
            <name>Qualification_DesignC_DesignD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Commitment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_Pipeline</targetReference>
            </connector>
            <label>Qualification/DesignC/DesignD</label>
        </rules>
        <rules>
            <name>NeedsAnalysis_Proposal_Price_Quote_ClinicalEval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal/Price Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical Eval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Best_Case</targetReference>
            </connector>
            <label>NeedsAnalysis/Proposal/Price Quote/ClinicalEval</label>
        </rules>
        <rules>
            <name>Negotiation_Review_Paperwork_RegulatoryApproval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paperwork Finalization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regulatory Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Commit</targetReference>
            </connector>
            <label>Negotiation/Review/Paperwork/RegulatoryApproval</label>
        </rules>
        <rules>
            <name>Closed_Won_Design_Won</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Closed</targetReference>
            </connector>
            <label>Closed Won/Design Won</label>
        </rules>
        <rules>
            <name>Agree_with_Oppty_for_SL_Forecast_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agree_with_Opportunity_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Leader_Forecast_Update</targetReference>
            </connector>
            <label>Agree with Oppty for SL Forecast Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Sales Leader Forecast Category</description>
        <name>Sales_Leader_Forecast_Update</name>
        <label>Sales Leader Forecast Update</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agree_with_Oppty_for_SL_Forecast_Update_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agree_with_Opportunity_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Leader_Forecast_Category_and_Amounts</targetReference>
            </connector>
            <label>Agree with Oppty for SL Forecast Update</label>
        </rules>
    </decisions>
    <description>SDS-2642: Opportunity - Set NV Forecast Category, SL Forecast Fields
Enterprise Sales
Design Wins</description>
    <interviewLabel>OPP : FL : Set NV Forecast Category/SL Forecast Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP : FL : Set NV Forecast Category/SL Forecast Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Stage_Check</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121W000000DybgQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121W000000YfOdQAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
