force-app/main/default/flows/OPP_AutoSet_NPN_SP_VAR_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set the value from NPN Solution Provider/VAR account name</description>
        <name>Set_NPN_SP_VAR_text_from_NPN_SP_VAR</name>
        <label>Set NPN/SP VAR (text) from NPN SP/VAR</label>
        <locationX>950</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>$Record.NPN_Solution_Provider_VAR_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NPN_Solution_Provider_VAR__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if the NPN SP/VAR is different than NPN SP/VAR (Text)</description>
        <name>Check_if_the_NPN_SP_VAR_is_different_than_NPN_SP_VAR_Text</name>
        <label>Check if the NPN SP/VAR is different than NPN SP/VAR (Text)</label>
        <locationX>536</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NPN_SP_VAR_is_different_than_NPN_SP_VAR_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPN_Solution_Provider_VAR_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NPN_Solution_Provider_VAR__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NPN_SP_VAR_text_from_NPN_SP_VAR</targetReference>
            </connector>
            <label>NPN SP/VAR is different than NPN SP/VAR (Text)</label>
        </rules>
    </decisions>
    <description>SDS-2837-Share Opptys with VAR Account Owner and Team
Set NPN SP/VAR (text) from NPN SP/VAR</description>
    <interviewLabel>OPP - AutoSet NPN SP/VAR Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP - AutoSet NPN SP/VAR Text</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_the_NPN_SP_VAR_is_different_than_NPN_SP_VAR_Text</targetReference>
        </connector>
        <filters>
            <field>NPN_Solution_Provider_VAR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NPN_Solution_Provider_VAR_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
