force-app/main/default/flows/Opportunity_Add_Opportunity_Team_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Does_the_OTM_Created</name>
        <label>Does the OTM Created?</label>
        <locationX>795</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTM_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOTMId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>OTM Created?</label>
        </rules>
        <rules>
            <name>OTM_Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOTMId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTM_Failure</targetReference>
            </connector>
            <label>OTM Not Created?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Team_Member_Check</name>
        <label>Existing Team Member Check</label>
        <locationX>649</locationX>
        <locationY>419</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_User_already_existing_as_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingUserRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_User</targetReference>
            </connector>
            <label>Selected User already existing as Team Member</label>
        </rules>
        <rules>
            <name>Selected_User_Does_not_Exist_as_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingUserRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Team_Member</targetReference>
            </connector>
            <label>Selected User Does not Exist as Team Member</label>
        </rules>
    </decisions>
    <description>SDS-1902 - Opportunity : Add Opportunity Team Member</description>
    <dynamicChoiceSets>
        <name>MatchingSAUsers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Name_of_the_User</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Opportunity Team Roles</description>
        <name>TeamRoles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TeamMemberRole</picklistField>
        <picklistObject>OpportunityTeamMember</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>{!recordId} : Opportunity : Add Opportunity Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Add Opportunity Team Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Team_Member</name>
        <label>Create Opportunity Team Member</label>
        <locationX>660</locationX>
        <locationY>25</locationY>
        <assignRecordIdToReference>varOTMId</assignRecordIdToReference>
        <connector>
            <targetReference>Does_the_OTM_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <elementReference>TeamRoles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordLookups>
        <description>Get Existing Team Members</description>
        <name>ExistingTeamMember</name>
        <label>ExistingMatchingTeamMember</label>
        <locationX>351</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Team_Member_Check</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>varExistingUserRole</assignToReference>
            <field>TeamMemberRole</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExistingUserRecord</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Enter_User_Name</name>
        <label>Enter User Name</label>
        <locationX>203</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Users_Screen</targetReference>
        </connector>
        <fields>
            <name>Name_of_the_User</name>
            <dataType>String</dataType>
            <fieldText>Search User with name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_User</name>
        <label>Existing User</label>
        <locationX>932</locationX>
        <locationY>577</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>User_Exists</name>
            <fieldText>&lt;p&gt;{!varUserName} is already an Opportunity Team Member with role {!varExistingUserRole}. No changes made!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matching_Users_Screen</name>
        <label>Matching Users Screen</label>
        <locationX>351</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ExistingTeamMember</targetReference>
        </connector>
        <fields>
            <name>MatchingUsers</name>
            <choiceReferences>MatchingSAUsers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Users</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Team_Roles</name>
            <choiceReferences>TeamRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team Roles</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OTM_Failure</name>
        <label>OTM Failure</label>
        <locationX>1008</locationX>
        <locationY>399</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure_Msg</name>
            <fieldText>&lt;p&gt;{!varUserName} could not be added as Opportunity Team Member&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1047</locationX>
        <locationY>23</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varUserName} is added as &lt;/span&gt;Opportunity Team Member!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Enter_User_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingUserRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExistingUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOTMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the SA User</description>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
