force-app/main/default/flows/Service_Cloud_Case_Survey_Process_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Service_Cloud_Case_Closed_Notification_to_WebEmail_with_Survey_link</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_11_event_0_SA2</name>
        <label>Case_Closed_Email_Notification_To_WebEmail_NonJapan</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <actionName>Case.Service_Cloud_Case_Closed_Notification_to_WebEmail_with_Survey_link</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_11_event_0_SA3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Service_Cloud_Case_Closed_Notification_to_WebEmail_with_Survey_link_Japan</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_16_event_0_SA2</name>
        <label>Case_Closed_Email_Notification_To_WebEmail_Japan</label>
        <locationX>1600</locationX>
        <locationY>300</locationY>
        <actionName>Case.Service_Cloud_Case_Closed_Notification_to_WebEmail_with_Survey_link_Japan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_16_event_0_SA3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Closed_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA2</name>
        <label>Case_Closed_Email_Notification_To_Contact_NonJapan</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Case.Case_Closed_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Closed_Notification_Japan</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_6_event_0_SA2</name>
        <label>Case_Closed_Email_Notification_To_Contact_Japan</label>
        <locationX>600</locationX>
        <locationY>300</locationY>
        <actionName>Case.Case_Closed_Notification_Japan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_6_event_0_SA3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_1</name>
        <label>myWaitAssignment_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_11</name>
        <label>myWaitAssignment_myWait_myRule_11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_11</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPreWaitDecision_myWait_myRule_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_16</name>
        <label>myWaitAssignment_myWait_myRule_16</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_16</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPreWaitDecision_myWait_myRule_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_6</name>
        <label>myWaitAssignment_myWait_myRule_6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPreWaitDecision_myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_11_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_11_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_11_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_16_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_16_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_16_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_6_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_6_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_6_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_6</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Send Survey to Contact: NonJapan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Send Survey to WebEmail NonJapan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_pmetdec</targetReference>
            </connector>
            <label>Send Survey to WebEmail Japan</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_pmetdec</targetReference>
            </connector>
            <label>Send Survey to Contact: Japan</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_1</name>
        <label>myPreWaitDecision_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_11</name>
        <label>myPreWaitDecision_myWait_myRule_11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPreWaitDecision_myWait_myRule_6</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_11</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_16</name>
        <label>myPreWaitDecision_myWait_myRule_16</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPreWaitDecision_myWait_myRule_11</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_16</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_6</name>
        <label>myPreWaitDecision_myWait_myRule_6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPreWaitDecision_myWait_myRule_1</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_6</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_11</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_16_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_16</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_16_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_6_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_6</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_6_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>This Process builder is responsible to take actions related to Survey Process.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myWaitEvent_myWait_myRule_11_event_0_SA3_4265122994</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(BEGINS([Case].OwnerId, &apos;00G&apos;) ,$User.Id,  [Case].OwnerId )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myWaitEvent_myWait_myRule_11_event_0_SA3_0175382509</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ,{!$User.Id},  {!myVariable_current.OwnerId} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;NVIDIA would like your feedback! Case &apos;&amp;[Case].CaseNumber &amp;&apos; is closed - &apos;&amp; LEFT([Case].Subject, 150)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myWaitEvent_myWait_myRule_11_event_0_SA3_0036090606</name>
        <dataType>String</dataType>
        <expression>&apos;NVIDIA would like your feedback! Case &apos;&amp;{!myVariable_current.CaseNumber} &amp;&apos; is closed - &apos;&amp; LEFT({!myVariable_current.Subject}, 150)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myWaitEvent_myWait_myRule_16_event_0_SA3_5376385944</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(BEGINS([Case].OwnerId, &apos;00G&apos;) ,$User.Id,  [Case].OwnerId )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myWaitEvent_myWait_myRule_16_event_0_SA3_6669570285</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ,{!$User.Id},  {!myVariable_current.OwnerId} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;NVIDIA would like your feedback! Case &apos;&amp;[Case].CaseNumber &amp;&apos; is closed - &apos;&amp; LEFT([Case].Subject, 150)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myWaitEvent_myWait_myRule_16_event_0_SA3_5656456676</name>
        <dataType>String</dataType>
        <expression>&apos;NVIDIA would like your feedback! Case &apos;&amp;{!myVariable_current.CaseNumber} &amp;&apos; is closed - &apos;&amp; LEFT({!myVariable_current.Subject}, 150)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA3_3288131453</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(BEGINS([Case].OwnerId, &apos;00G&apos;) ,$User.Id,  [Case].OwnerId ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myWaitEvent_myWait_myRule_1_event_0_SA3_8025368942</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ,{!$User.Id},  {!myVariable_current.OwnerId} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;NVIDIA would like your feedback! Case &apos;&amp;[Case].CaseNumber &amp;&apos; is closed - &apos;&amp; LEFT([Case].Subject, 150) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myWaitEvent_myWait_myRule_1_event_0_SA3_7549554613</name>
        <dataType>String</dataType>
        <expression>&apos;NVIDIA would like your feedback! Case &apos;&amp;{!myVariable_current.CaseNumber} &amp;&apos; is closed - &apos;&amp; LEFT({!myVariable_current.Subject}, 150)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myWaitEvent_myWait_myRule_6_event_0_SA3_0544031704</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(BEGINS([Case].OwnerId, &apos;00G&apos;) ,$User.Id,  [Case].OwnerId )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myWaitEvent_myWait_myRule_6_event_0_SA3_1273847586</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;) ,{!$User.Id},  {!myVariable_current.OwnerId} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;NVIDIA would like your feedback! Case &apos;&amp;[Case].CaseNumber &amp;&apos; is closed - &apos;&amp; LEFT([Case].Subject, 150)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myWaitEvent_myWait_myRule_6_event_0_SA3_3079522519</name>
        <dataType>String</dataType>
        <expression>&apos;NVIDIA would like your feedback! Case &apos;&amp;{!myVariable_current.CaseNumber} &amp;&apos; is closed - &apos;&amp; LEFT({!myVariable_current.Subject}, 150)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
NOT(ISBLANK([Case].ContactId)) &amp;&amp;
NOT(ISBLANK([Case].Contact.Email)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_current.IsClosed} = true || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
{!myVariable_current.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_current.Account.Billing_Region_Text__c} &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
{!myVariable_current.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_current.Customer_Survey_Sent__c}  = false &amp;&amp;
NOT(ISBLANK({!myVariable_current.ContactId})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.Contact.Email}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
) &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
(ISBLANK([Case].ContactId) ||
      ISBLANK([Case].Contact.Email)) &amp;&amp;
NOT(ISBLANK([Case].SuppliedEmail )) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_current.IsClosed} = true || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
{!myVariable_current.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_current.Account.Billing_Region_Text__c} &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla SW Family&quot;)
) &amp;&amp;
{!myVariable_current.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_current.Customer_Survey_Sent__c}  = false &amp;&amp;
(ISBLANK({!myVariable_current.ContactId}) ||
      ISBLANK({!myVariable_current.Contact.Email})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.SuppliedEmail} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
) &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
(ISBLANK([Case].ContactId) ||
      ISBLANK([Case].Contact.Email)) &amp;&amp;
NOT(ISBLANK([Case].SuppliedEmail )) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_old.IsClosed} = true || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
{!myVariable_old.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_old.Account.Billing_Region_Text__c} &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla SW Family&quot;)
) &amp;&amp;
{!myVariable_old.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_old.Customer_Survey_Sent__c}  = false &amp;&amp;
(ISBLANK({!myVariable_old.ContactId}) ||
      ISBLANK({!myVariable_old.Contact.Email})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.SuppliedEmail} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
) &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
(ISBLANK([Case].ContactId) ||
      ISBLANK([Case].Contact.Email)) &amp;&amp;
NOT(ISBLANK([Case].SuppliedEmail )) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_current.IsClosed} = true || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_current.Account.Billing_Region_Text__c} = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla SW Family&quot;)
) &amp;&amp;
{!myVariable_current.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_current.Customer_Survey_Sent__c}  = false &amp;&amp;
(ISBLANK({!myVariable_current.ContactId}) ||
      ISBLANK({!myVariable_current.Contact.Email})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.SuppliedEmail} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
) &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
(ISBLANK([Case].ContactId) ||
      ISBLANK([Case].Contact.Email)) &amp;&amp;
NOT(ISBLANK([Case].SuppliedEmail )) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_old.IsClosed} = true || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
{!myVariable_old.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_old.Account.Billing_Region_Text__c} = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla SW Family&quot;)
) &amp;&amp;
{!myVariable_old.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_old.Customer_Survey_Sent__c}  = false &amp;&amp;
(ISBLANK({!myVariable_old.ContactId}) ||
      ISBLANK({!myVariable_old.Contact.Email})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.SuppliedEmail} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
NOT(ISBLANK([Case].ContactId)) &amp;&amp;
NOT(ISBLANK([Case].Contact.Email)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_old.IsClosed} = true || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp; 
{!myVariable_old.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_old.Account.Billing_Region_Text__c} &lt;&gt; &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
{!myVariable_old.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_old.Customer_Survey_Sent__c}  = false &amp;&amp;
NOT(ISBLANK({!myVariable_old.ContactId})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.Contact.Email}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
NOT(ISBLANK([Case].ContactId)) &amp;&amp;
NOT(ISBLANK([Case].Contact.Email)) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_current.IsClosed} = true || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_current.Account.Billing_Region_Text__c} = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_current.Product_Family__c} , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
{!myVariable_current.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_current.Customer_Survey_Sent__c}  = false &amp;&amp;
NOT(ISBLANK({!myVariable_current.ContactId})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.Contact.Email}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
  [Case].IsClosed = true || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Closed&quot;) ||
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL([Case].Incident_Status__c ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
[Case].RecordType.DeveloperName = &apos;Community_User_Record_Type&apos; &amp;&amp; [Case].Account.Billing_Region_Text__c = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL([Case].Product_Family__c , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
[Case].Owner:Queue.DeveloperName  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
[Case].Customer_Survey_Sent__c  = false &amp;&amp;
NOT(ISBLANK([Case].ContactId)) &amp;&amp;
NOT(ISBLANK([Case].Contact.Email)) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
  {!myVariable_old.IsClosed} = true || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Closed&quot;) ||
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (No Customer Response)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Permanently)&quot;) || 
  ISPICKVAL({!myVariable_old.Incident_Status__c} ,&quot;Resolved (Temp Workaround)&quot;)
) &amp;&amp;
{!myVariable_old.RecordType.DeveloperName} = &apos;Community_User_Record_Type&apos; &amp;&amp; {!myVariable_old.Account.Billing_Region_Text__c} = &apos;JAPAN&apos; &amp;&amp; 
NOT(
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla HW Family&quot;) || 
       ISPICKVAL({!myVariable_old.Product_Family__c} , &quot;Tesla SW Family&quot;)
)  &amp;&amp;
{!myVariable_old.Owner:Queue.DeveloperName}  &lt;&gt; &apos;ESP_Invalid_Case_Queue&apos; &amp;&amp;
{!myVariable_old.Customer_Survey_Sent__c}  = false &amp;&amp;
NOT(ISBLANK({!myVariable_old.ContactId})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.Contact.Email}))</expression>
    </formulas>
    <interviewLabel>Service_Cloud_Case_Survey_Process_Updates-2_InterviewLabel</interviewLabel>
    <label>Service Cloud: Case Survey Process Updates</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myWaitEvent_myWait_myRule_11_event_0_SA3</name>
        <label>Create Task</label>
        <locationX>1100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_11_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_12_myWaitEvent_myWait_myRule_11_event_0_SA3_4265122994</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <stringValue>Activity to track a survey.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_13_myWaitEvent_myWait_myRule_11_event_0_SA3_0175382509</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_14_myWaitEvent_myWait_myRule_11_event_0_SA3_0036090606</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Subtype</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Initiative__c;Account_Tag__c;Announcement__c;Asset;AssetRelationship;BRNSHRK__BrainsharkPresentation__c;BRNSHRK__BrainsharkSettings__c;CPQ_Requester__c;CRMfusionDBR101__Duplicate_Warning__c;Campaign;Case;Certifications__c;ChannelProgram;ChannelProgramLevel;CommSubscriptionConsent;Comments__c;Competency_Data__c;ContactRequest;Contract;ContractLineItem;CustomerAnnouncement__c;Data_Validation_Master_Data__c;ESP_Private_Notes__c;Entitlement;Entitlement__c;Environment_Profile__c;ListEmail;Monthly_POS__c;NPN_Business_Plan__c;NPN_DocuSign_Id__c;NPN_Key_Contact__c;NPN_NFR_Software__c;NVBug__c;NV_Error_Log__c;NV_Log__c;Notebook_Market_Model__c;Notebook_Waterfall__c;Opportunity;Order;POS_Submission__c;Partner_Perspective__c;PartyConsent;Pipeline__c;Product2;Program_Goal__c;QPB_Statement__c;RMA__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;SCOPE_Milestone__c;ServiceContract;Service_Delivery__c;Solution;Solution_Architect_Initiative__c;SuRF_Contacts_Trans__c;SuRF_Contacts__c;SuperComputing_RFI_RFP_Tracking__c;Support_Request_And_Question__c;SurveyQuestion;Temporary_Contact__c;Training_Service_Catalog__c;WorkOrder;WorkOrderLineItem;bsource__BS_Deal_Support_Request__c;bsource__Briefing_Attendee__c;bsource__Briefing_Topic__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;sixsense__X6sense_Account_Score__c;sixsense__X6sense_Company_Score__c;sixsense__X6sense_Contact_Score__c;sixsense__X6sense_Lead_Scores__c;sixsense__X6sense_New_Company__c;sixsense__X6sense_Product__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myWaitEvent_myWait_myRule_16_event_0_SA3</name>
        <label>Create Task</label>
        <locationX>1600</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_16_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_17_myWaitEvent_myWait_myRule_16_event_0_SA3_5376385944</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <stringValue>Activity to track a survey.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <elementReference>formula_18_myWaitEvent_myWait_myRule_16_event_0_SA3_6669570285</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_19_myWaitEvent_myWait_myRule_16_event_0_SA3_5656456676</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Subtype</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Initiative__c;Account_Tag__c;Announcement__c;Asset;AssetRelationship;BRNSHRK__BrainsharkPresentation__c;BRNSHRK__BrainsharkSettings__c;CPQ_Requester__c;CRMfusionDBR101__Duplicate_Warning__c;Campaign;Case;Certifications__c;ChannelProgram;ChannelProgramLevel;CommSubscriptionConsent;Comments__c;Competency_Data__c;ContactRequest;Contract;ContractLineItem;CustomerAnnouncement__c;Data_Validation_Master_Data__c;ESP_Private_Notes__c;Entitlement;Entitlement__c;Environment_Profile__c;ListEmail;Monthly_POS__c;NPN_Business_Plan__c;NPN_DocuSign_Id__c;NPN_Key_Contact__c;NPN_NFR_Software__c;NVBug__c;NV_Error_Log__c;NV_Log__c;Notebook_Market_Model__c;Notebook_Waterfall__c;Opportunity;Order;POS_Submission__c;Partner_Perspective__c;PartyConsent;Pipeline__c;Product2;Program_Goal__c;QPB_Statement__c;RMA__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;SCOPE_Milestone__c;ServiceContract;Service_Delivery__c;Solution;Solution_Architect_Initiative__c;SuRF_Contacts_Trans__c;SuRF_Contacts__c;SuperComputing_RFI_RFP_Tracking__c;Support_Request_And_Question__c;SurveyQuestion;Temporary_Contact__c;Training_Service_Catalog__c;WorkOrder;WorkOrderLineItem;bsource__BS_Deal_Support_Request__c;bsource__Briefing_Attendee__c;bsource__Briefing_Topic__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;sixsense__X6sense_Account_Score__c;sixsense__X6sense_Company_Score__c;sixsense__X6sense_Contact_Score__c;sixsense__X6sense_Lead_Scores__c;sixsense__X6sense_New_Company__c;sixsense__X6sense_Product__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA3</name>
        <label>Create Task</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA3_3288131453</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <stringValue>Activity to track a survey.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_3_myWaitEvent_myWait_myRule_1_event_0_SA3_8025368942</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_4_myWaitEvent_myWait_myRule_1_event_0_SA3_7549554613</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Subtype</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Initiative__c;Account_Tag__c;Announcement__c;Asset;AssetRelationship;BRNSHRK__BrainsharkPresentation__c;BRNSHRK__BrainsharkSettings__c;CPQ_Requester__c;CRMfusionDBR101__Duplicate_Warning__c;Campaign;Case;Certifications__c;ChannelProgram;ChannelProgramLevel;CommSubscriptionConsent;Comments__c;Competency_Data__c;ContactRequest;Contract;ContractLineItem;CustomerAnnouncement__c;Data_Validation_Master_Data__c;ESP_Private_Notes__c;Entitlement;Entitlement__c;Environment_Profile__c;ListEmail;Monthly_POS__c;NPN_Business_Plan__c;NPN_DocuSign_Id__c;NPN_Key_Contact__c;NPN_NFR_Software__c;NVBug__c;NV_Error_Log__c;NV_Log__c;Notebook_Market_Model__c;Notebook_Waterfall__c;Opportunity;Order;POS_Submission__c;Partner_Perspective__c;PartyConsent;Pipeline__c;Product2;Program_Goal__c;QPB_Statement__c;RMA__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;SCOPE_Milestone__c;ServiceContract;Service_Delivery__c;Solution;Solution_Architect_Initiative__c;SuRF_Contacts_Trans__c;SuRF_Contacts__c;SuperComputing_RFI_RFP_Tracking__c;Support_Request_And_Question__c;SurveyQuestion;Temporary_Contact__c;Training_Service_Catalog__c;WorkOrder;WorkOrderLineItem;bsource__BS_Deal_Support_Request__c;bsource__Briefing_Attendee__c;bsource__Briefing_Topic__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;sixsense__X6sense_Account_Score__c;sixsense__X6sense_Company_Score__c;sixsense__X6sense_Contact_Score__c;sixsense__X6sense_Lead_Scores__c;sixsense__X6sense_New_Company__c;sixsense__X6sense_Product__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myWaitEvent_myWait_myRule_6_event_0_SA3</name>
        <label>Create Task</label>
        <locationX>600</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_6_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_7_myWaitEvent_myWait_myRule_6_event_0_SA3_0544031704</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <stringValue>Activity to track a survey.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_8_myWaitEvent_myWait_myRule_6_event_0_SA3_1273847586</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_9_myWaitEvent_myWait_myRule_6_event_0_SA3_3079522519</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Subtype</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Initiative__c;Account_Tag__c;Announcement__c;Asset;AssetRelationship;BRNSHRK__BrainsharkPresentation__c;BRNSHRK__BrainsharkSettings__c;CPQ_Requester__c;CRMfusionDBR101__Duplicate_Warning__c;Campaign;Case;Certifications__c;ChannelProgram;ChannelProgramLevel;CommSubscriptionConsent;Comments__c;Competency_Data__c;ContactRequest;Contract;ContractLineItem;CustomerAnnouncement__c;Data_Validation_Master_Data__c;ESP_Private_Notes__c;Entitlement;Entitlement__c;Environment_Profile__c;ListEmail;Monthly_POS__c;NPN_Business_Plan__c;NPN_DocuSign_Id__c;NPN_Key_Contact__c;NPN_NFR_Software__c;NVBug__c;NV_Error_Log__c;NV_Log__c;Notebook_Market_Model__c;Notebook_Waterfall__c;Opportunity;Order;POS_Submission__c;Partner_Perspective__c;PartyConsent;Pipeline__c;Product2;Program_Goal__c;QPB_Statement__c;RMA__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;SCOPE_Milestone__c;ServiceContract;Service_Delivery__c;Solution;Solution_Architect_Initiative__c;SuRF_Contacts_Trans__c;SuRF_Contacts__c;SuperComputing_RFI_RFP_Tracking__c;Support_Request_And_Question__c;SurveyQuestion;Temporary_Contact__c;Training_Service_Catalog__c;WorkOrder;WorkOrderLineItem;bsource__BS_Deal_Support_Request__c;bsource__Briefing_Attendee__c;bsource__Briefing_Topic__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;sixsense__X6sense_Account_Score__c;sixsense__X6sense_Company_Score__c;sixsense__X6sense_Contact_Score__c;sixsense__X6sense_Lead_Scores__c;sixsense__X6sense_New_Company__c;sixsense__X6sense_Product__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_11_event_0_SA1</name>
        <label>Update Survey Sent</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_11_event_0_SA2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Survey Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_16_event_0_SA1</name>
        <label>Update Survey Sent</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_16_event_0_SA2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Survey Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
        <label>Update Survey Sent</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Survey Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_6_event_0_SA1</name>
        <label>Update Survey Sent</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_6_event_0_SA2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Survey Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Customer_Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myPreWaitDecision_myWait_myRule_16</startElementReference>
    <status>Active</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_11_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_16_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_6_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_1</name>
        <label>myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>now</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_1_event_0</label>
        </waitEvents>
    </waits>
    <waits>
        <name>myWait_myRule_11</name>
        <label>myWait_myRule_11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>now</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_11_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_11_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_11_event_0_SA1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_11_event_0</label>
        </waitEvents>
    </waits>
    <waits>
        <name>myWait_myRule_16</name>
        <label>myWait_myRule_16</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>now</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_16_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_16_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_16_event_0_SA1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_16_event_0</label>
        </waitEvents>
    </waits>
    <waits>
        <name>myWait_myRule_6</name>
        <label>myWait_myRule_6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>now</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_6_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_6_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_6_event_0_SA1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_6_event_0</label>
        </waitEvents>
    </waits>
</Flow>
