force-app/main/default/flows/Service_Cloud_Case_Change_Owner_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>case_Assignment</name>
        <label>case_Assignment</label>
        <locationX>211</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Assignment</name>
        <label>Update Case Assignment</label>
        <locationX>645</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>case.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Case_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Assignment_0</name>
        <label>Update Case Assignment</label>
        <locationX>1043</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>case.Case_Comment__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_0</targetReference>
        </connector>
    </assignments>
    <description>This flow is created to replace the standard change owner functionality.</description>
    <interviewLabel>Service Cloud: Case Change Owner Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Cloud: Case Change Owner Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>211</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>case_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>860</locationX>
        <locationY>411</locationY>
        <inputReference>case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_0</name>
        <label>Update case</label>
        <locationX>1045</locationX>
        <locationY>96</locationY>
        <inputReference>case</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>426</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case_Assignment</targetReference>
        </connector>
        <fields>
            <name>ChangeOwnerHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Change Owner &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Submitted_By__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Internal_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChangeOwnerScreen1</name>
        <label>ChangeOwnerScreen1</label>
        <locationX>432</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChangeOwnerHeader1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Change Owner&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Click button to change the Owner.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>86</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
