force-app/main/default/flows/Service_Cloud_Update_Environment_Profile_On_Case_From_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check Entitlement not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Check only Case Environment Profile Changed</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
    AND(
        ISNEW() ,
        [Case].EntitlementId &lt;&gt;null,
        [Case].Entitlement.Environment_Profile__c&lt;&gt;null ,
        [Case].Environment_Profile__c=null,
        NOT(
                 AND(
                           [Case].RecordType.DeveloperName =&apos;Community_User_Record_Type&apos;,
                          OR (
                                  ISPICKVAL([Case].Incident_Status__c ,&apos;Enterprise Support&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c , &apos;Closed&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Temp Workaround)&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Permanently)&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (No Customer Response)&apos;) 
                            ),
                          ISBLANK( TEXT([Case].Incident_Substatus__c ))
                  )
         )
    ),
    AND(
        NOT(ISNEW()),
        ISCHANGED([Case].EntitlementId )  ,
        [Case].EntitlementId &lt;&gt;null,
        [Case].Entitlement.Environment_Profile__c&lt;&gt;null,
        ISCHANGED([Case].Environment_Profile__c)==false,    
        NOT(
                 AND(
                           [Case].RecordType.DeveloperName =&apos;Community_User_Record_Type&apos;,
                          OR (
                                  ISPICKVAL([Case].Incident_Status__c ,&apos;Enterprise Support&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c , &apos;Closed&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Temp Workaround)&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Permanently)&apos;) ,
                                   ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (No Customer Response)&apos;) 
                            ),
                          ISBLANK( TEXT([Case].Incident_Substatus__c ))
                  )
         )
    )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
        ISNEW() ,
        {!myVariable_current.EntitlementId} &lt;&gt;null,
        {!myVariable_current.Entitlement.Environment_Profile__c}&lt;&gt;null ,
        {!myVariable_current.Environment_Profile__c}=null,
        NOT(
                 AND(
                           {!myVariable_current.RecordType.DeveloperName} =&apos;Community_User_Record_Type&apos;,
                          OR (
                                  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&apos;Enterprise Support&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c} , &apos;Closed&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Temp Workaround)&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Permanently)&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (No Customer Response)&apos;) 
                            ),
                          ISBLANK( TEXT({!myVariable_current.Incident_Substatus__c} ))
                  )
         )
    ),
    AND(
        NOT(ISNEW()),
        ISCHANGED({!myVariable_current.EntitlementId} )  ,
        {!myVariable_current.EntitlementId} &lt;&gt;null,
        {!myVariable_current.Entitlement.Environment_Profile__c}&lt;&gt;null,
        ISCHANGED({!myVariable_current.Environment_Profile__c})==false,    
        NOT(
                 AND(
                           {!myVariable_current.RecordType.DeveloperName} =&apos;Community_User_Record_Type&apos;,
                          OR (
                                  ISPICKVAL({!myVariable_current.Incident_Status__c} ,&apos;Enterprise Support&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c} , &apos;Closed&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Temp Workaround)&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Permanently)&apos;) ,
                                   ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (No Customer Response)&apos;) 
                            ),
                          ISBLANK( TEXT({!myVariable_current.Incident_Substatus__c} ))
                  )
         )
    )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
      AND(
                ISNEW() ,
                [Case].EntitlementId &lt;&gt;null,
                [Case].Environment_Profile__c&lt;&gt;null,
                [Case].Entitlement.Environment_Profile__c&lt;&gt;[Case].Environment_Profile__c, 
                NOT(
                         AND(
                                   [Case].RecordType.DeveloperName =&apos;Community_User_Record_Type&apos;,
                                   OR (
                                           ISPICKVAL([Case].Incident_Status__c ,&apos;Enterprise Support&apos;) ,
                                           ISPICKVAL([Case].Incident_Status__c , &apos;Closed&apos;) ,
                                           ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Temp Workaround)&apos;) ,
                                           ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Permanently)&apos;) ,
                                           ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (No Customer Response)&apos;) 
                                   ),
                          ISBLANK( TEXT([Case].Incident_Substatus__c ))
                        )
               )
     ),
     AND(
               NOT(ISNEW()),
               [Case].EntitlementId &lt;&gt;null,
               ISCHANGED([Case].Environment_Profile__c),
               [Case].Environment_Profile__c&lt;&gt;null,
               [Case].Entitlement.Environment_Profile__c&lt;&gt;[Case].Environment_Profile__c,
               NOT(
                         AND(
                                   [Case].RecordType.DeveloperName =&apos;Community_User_Record_Type&apos;,
                                    OR (
                                            ISPICKVAL([Case].Incident_Status__c ,&apos;Enterprise Support&apos;) ,
                                            ISPICKVAL([Case].Incident_Status__c , &apos;Closed&apos;) ,
                                            ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Temp Workaround)&apos;) ,
                                            ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (Permanently)&apos;) ,
                                            ISPICKVAL([Case].Incident_Status__c, &apos;Resolved (No Customer Response)&apos;) 
                                    ),
                                 ISBLANK( TEXT([Case].Incident_Substatus__c ))
                        )
               )
     )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
      AND(
                ISNEW() ,
                {!myVariable_current.EntitlementId} &lt;&gt;null,
                {!myVariable_current.Environment_Profile__c}&lt;&gt;null,
                {!myVariable_current.Entitlement.Environment_Profile__c}&lt;&gt;{!myVariable_current.Environment_Profile__c}, 
                NOT(
                         AND(
                                   {!myVariable_current.RecordType.DeveloperName} =&apos;Community_User_Record_Type&apos;,
                                   OR (
                                           ISPICKVAL({!myVariable_current.Incident_Status__c} ,&apos;Enterprise Support&apos;) ,
                                           ISPICKVAL({!myVariable_current.Incident_Status__c} , &apos;Closed&apos;) ,
                                           ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Temp Workaround)&apos;) ,
                                           ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Permanently)&apos;) ,
                                           ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (No Customer Response)&apos;) 
                                   ),
                          ISBLANK( TEXT({!myVariable_current.Incident_Substatus__c} ))
                        )
               )
     ),
     AND(
               NOT(ISNEW()),
               {!myVariable_current.EntitlementId} &lt;&gt;null,
               ISCHANGED({!myVariable_current.Environment_Profile__c}),
               {!myVariable_current.Environment_Profile__c}&lt;&gt;null,
               {!myVariable_current.Entitlement.Environment_Profile__c}&lt;&gt;{!myVariable_current.Environment_Profile__c},
               NOT(
                         AND(
                                   {!myVariable_current.RecordType.DeveloperName} =&apos;Community_User_Record_Type&apos;,
                                    OR (
                                            ISPICKVAL({!myVariable_current.Incident_Status__c} ,&apos;Enterprise Support&apos;) ,
                                            ISPICKVAL({!myVariable_current.Incident_Status__c} , &apos;Closed&apos;) ,
                                            ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Temp Workaround)&apos;) ,
                                            ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (Permanently)&apos;) ,
                                            ISPICKVAL({!myVariable_current.Incident_Status__c}, &apos;Resolved (No Customer Response)&apos;) 
                                    ),
                                 ISBLANK( TEXT({!myVariable_current.Incident_Substatus__c} ))
                        )
               )
     )
)</expression>
    </formulas>
    <interviewLabel>Service_Cloud_Update_Environment_Profile_On_Case_From_Entitlement-9_InterviewLabel</interviewLabel>
    <label>Service Cloud Update Environment Profile On Case From Entitlement On Create</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Service Cloud Update Environment Profile On Case From Entitlement On Create</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Environment Profile</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Environment_Profile__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Environment_Profile__c</field>
            <value>
                <elementReference>myVariable_current.Entitlement.Environment_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Entitlement ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Env Profile on Entitlement</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.EntitlementId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Environment Profile</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Environment_Profile__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Environment_Profile__c</field>
            <value>
                <elementReference>myVariable_current.Environment_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
