force-app/main/default/flows/Service_Cloud_New_Transfer_Request_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_contact_to_Modify_record</name>
        <label>Add contact to Modify record</label>
        <locationX>1554</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Create_Modify_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modify_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Contacts_Source_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_License_Server_Modify_Record</name>
        <label>Add_License_Server_Modify_Record</label>
        <locationX>244</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>Create_Modify_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modify_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NFR_and_Eval_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_NFR_and_Eval_Modify_Record</name>
        <label>Add NFR and Eval Modify Record</label>
        <locationX>586</locationX>
        <locationY>1204</locationY>
        <assignmentItems>
            <assignToReference>Create_Modify_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modify_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_All_Entitlements_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_select_All_ent_to_Modify_record</name>
        <label>Add select All ent to Modify record</label>
        <locationX>676</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Create_Modify_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modify_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Entitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Selected_Contact_Modify_Record</name>
        <label>Add Selected Contact Modify Record</label>
        <locationX>1810</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>Create_Modify_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modify_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Contact_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Selected_Entitlements_Modify_Records</name>
        <label>Add Selected Entitlements Modify Records</label>
        <locationX>1125</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>Create_Modify_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modify_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remaining_Selected_Entitlement_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_as_Modify_Record</name>
        <label>Assign Contact as Modify Record</label>
        <locationX>1426</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Modify_Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_to_Modify_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Select_All_Entitlement_Var</name>
        <label>Assign Select All Entitlement Var</label>
        <locationX>538</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>Modify_Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitlementVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_select_All_ent_to_Modify_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Contact_Ids</name>
        <label>Assign Selected Contact Ids</label>
        <locationX>1100</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checked_Contacts_for_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Entitlement_Ids</name>
        <label>Assign_Selected_Entitlement_Ids</label>
        <locationX>827</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>SelectedEntitlementIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Selected_Entitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_Record_for_License_Servers</name>
        <label>Modify Record for License Servers</label>
        <locationX>245</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>Modify_Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>License Server</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_LicenseServerstoTransfer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_License_Server_Modify_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_Record_for_NFR_Eval</name>
        <label>Modify Record for NFR &amp; Eval</label>
        <locationX>338</locationX>
        <locationY>1213</locationY>
        <assignmentItems>
            <assignToReference>Modify_Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_EVAL_NFR_Entitlement_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_NFR_and_Eval_Modify_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remaining_Contact_Ids</name>
        <label>Remaining Contact Ids</label>
        <locationX>1803</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>remainingSelectedContactIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checked_Contacts_for_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remaining_Selected_Entitlement_Ids</name>
        <label>Remaining_Selected_Entitlement_Ids</label>
        <locationX>935</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>SelectedEntitlementIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>remainingSelectedEntitlementIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Selected_Entitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Contact_Modify_Record</name>
        <label>Selected Contact Modify Record</label>
        <locationX>1586</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>Modify_Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Entitlement__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Selected_Contact_Modify_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Entitlements_values</name>
        <label>Selected_Entitlements_values</label>
        <locationX>1126</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>Modify_Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstEntitlementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Modify_Record.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Selected_Entitlements_Modify_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Priority_High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Priority_Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Priority_Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Type_Full_Transfer</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Full Transfer&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Type_Partial_Transfer</name>
        <choiceText>Partial Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Type_TBD_value</name>
        <choiceText>Not Know</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Know</stringValue>
        </value>
    </choices>
    <constants>
        <name>Transfer_EVAL_NFR_Entitlement_Text</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer All EVAL and NFR Entitlements</stringValue>
        </value>
    </constants>
    <constants>
        <name>Type_TBD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TBD</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_License_Server_Value</name>
        <label>Check License Server Value</label>
        <locationX>365</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>NFR_and_Eval_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>License_Server_Is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LEN_List_LicenseServerstoTransfer</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modify_Record_for_License_Servers</targetReference>
            </connector>
            <label>License Server Is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checked_Contacts_for_Transfer</name>
        <label>Checked Contacts for Transfer</label>
        <locationX>1580</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Confirm_Transfer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Transfer_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Len_ContactIds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Contact_Modify_Record</targetReference>
            </connector>
            <label>Check Transfer Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Select_All_Contacts</name>
        <label>Decision Select All Contacts</label>
        <locationX>1080</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Contact_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transfer_All_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_All_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts_Source_Account</targetReference>
            </connector>
            <label>Transfer All Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Selected_Entitlements</name>
        <label>Multiple Selected Entitlements</label>
        <locationX>809</locationX>
        <locationY>811</locationY>
        <defaultConnector>
            <targetReference>Transfer_Contact_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Multiple_Selected_Entitlements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Len_SelectedEntitlementIds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Entitlements_values</targetReference>
            </connector>
            <label>Check Multiple Selected Entitlements</label>
        </rules>
    </decisions>
    <decisions>
        <name>NFR_and_Eval_Selected</name>
        <label>NFR and Eval Selected</label>
        <locationX>330</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>Select_All_Entitlements_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_NFR_and_Eval_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_EVAL_and_NFR_Entitlements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modify_Record_for_NFR_Eval</targetReference>
            </connector>
            <label>If NFR and Eval Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_All_Entitlements_Decision</name>
        <label>Select All Entitlements Decision</label>
        <locationX>580</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Entitlement_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_All_Entitlement_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_All_Entitlements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_active_Entitlements_for_Source_Account</targetReference>
            </connector>
            <label>Select All Entitlement Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_Contact_Decision</name>
        <label>Transfer  Contact Decision</label>
        <locationX>807</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Confirm_Transfer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partial_Transfer_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Transfer_Contacts</targetReference>
            </connector>
            <label>Partial Transfer Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_Record_Decision</name>
        <label>Transfer Record Decision</label>
        <locationX>487</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Transfer_Contact_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partial_Transfer_Entitlements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_Entitlements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Entitlements</targetReference>
            </connector>
            <label>Partial Transfer Entitlements</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForTransferChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Transfer__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceAccountContacts</name>
        <dataType>String</dataType>
        <displayField>Contact_Info_for_Entitlement_Transfer__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceAccountEntitlements</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>SelectedEntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceOfRequestChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_of_Request__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FirstContactId</name>
        <dataType>String</dataType>
        <expression>LEFT({!SelectedContactIds},18)</expression>
    </formulas>
    <formulas>
        <name>FirstEntitlementId</name>
        <dataType>String</dataType>
        <expression>LEFT({!SelectedEntitlementIds},18)</expression>
    </formulas>
    <formulas>
        <name>Len_ContactIds</name>
        <dataType>Number</dataType>
        <expression>LEN({!SelectedContactIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LEN_List_LicenseServerstoTransfer</name>
        <dataType>Number</dataType>
        <expression>LEN({!List_LicenseServerstoTransfer})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Len_SelectedEntitlementIds</name>
        <dataType>Number</dataType>
        <expression>LEN({!SelectedEntitlementIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>remainingSelectedContactIds</name>
        <dataType>String</dataType>
        <expression>RIGHT({!SelectedContactIds},LEN({!SelectedContactIds})-20)</expression>
    </formulas>
    <formulas>
        <name>remainingSelectedEntitlementIds</name>
        <dataType>String</dataType>
        <expression>RIGHT({!SelectedEntitlementIds},LEN({!SelectedEntitlementIds})-20)</expression>
    </formulas>
    <interviewLabel>Service Cloud: Transfer Request Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Cloud: New Transfer Request Flow</label>
    <loops>
        <name>Loop_All_Contacts_Source_Account</name>
        <label>Loop All Contacts Source Account</label>
        <locationX>1244</locationX>
        <locationY>205</locationY>
        <assignNextValueToReference>ContactVariable</assignNextValueToReference>
        <collectionReference>Get_All_Contacts_Source_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_as_Modify_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Transfer_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_Entitlements</name>
        <label>Loop all Entitlements</label>
        <locationX>524</locationX>
        <locationY>576</locationY>
        <assignNextValueToReference>EntitlementVariable</assignNextValueToReference>
        <collectionReference>All_active_Entitlements_for_Source_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Select_All_Entitlement_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transfer_Contact_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Modify_Records_Action</name>
        <label>Create Modify Records Action</label>
        <locationX>1961</locationX>
        <locationY>40</locationY>
        <inputReference>Create_Modify_Records</inputReference>
    </recordCreates>
    <recordLookups>
        <name>All_active_Entitlements_for_Source_Account</name>
        <label>All_active_Entitlements_for_Source_Account</label>
        <locationX>583</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Entitlements</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts_Source_Account</name>
        <label>Get All Contacts Source Account</label>
        <locationX>1258</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Contacts_Source_Account</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseDetails</name>
        <label>getCaseDetails</label>
        <locationX>365</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Record_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>DestinationAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceAccountId</assignToReference>
            <field>Source_Account__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_Transfer_Screen</name>
        <label>Confirm Transfer Screen</label>
        <locationX>1771</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Modify_Records_Action</targetReference>
        </connector>
        <fields>
            <name>ConfirmationScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Confirmation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Transfer_Message</name>
            <fieldText>&lt;p&gt;Selected Records will be added for Modification/Transfer to this Request. Please Confirm?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Transfer_Request</name>
        <label>New Transfer Request</label>
        <locationX>240</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getCaseDetails</targetReference>
        </connector>
        <fields>
            <name>EntitlmentModificationRequestScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Entitlement Modification Request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transfer_Entitlements</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer Entitlements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_Contacts</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Entitlements</name>
        <label>Select Entitlements</label>
        <locationX>494</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_License_Server_Value</targetReference>
        </connector>
        <fields>
            <name>EntitlementTransferScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Entitlement Transfer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>List_LicenseServerstoTransfer</name>
            <fieldText>Transfer License Servers</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Transfer_EVAL_and_NFR_Entitlements</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer EVAL and NFR Entitlements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_All_Entitlements</name>
            <dataType>Boolean</dataType>
            <fieldText>Select All Entitlements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Entitlements</name>
            <choiceReferences>SourceAccountEntitlements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entitlements / PAKIDs</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select Entitlements that needs to be transfer from Source Account to an another account.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Transfer_Contacts</name>
        <label>Select Transfer Contacts</label>
        <locationX>1087</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Select_All_Contacts</targetReference>
        </connector>
        <fields>
            <name>TransferContactScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Transfer Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_All_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Select All Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_Contact</name>
            <choiceReferences>SourceAccountContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transfer Contact</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Transfer_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Create_Modify_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Modify_Records__c</objectType>
    </variables>
    <variables>
        <name>DestinationAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>Modify_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Modify_Records__c</objectType>
    </variables>
    <variables>
        <description>Capture the Current recordId for use in the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEntitlementIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
