force-app/main/default/flows/Service_Cloud_Update_Entitlement_with_Asset_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>If_ESP_Asset_found_for_Account_and_Product_Id_match</name>
        <label>If ESP_Asset found for Account and Product Id match</label>
        <locationX>167</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ESP_Asset_found_for_Account_and_Product_Id_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetIDforEntitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEntitlementWithESP_Asset</targetReference>
            </connector>
            <label>ESP_Asset found for Account and Product Id match</label>
        </rules>
    </decisions>
    <interviewLabel>Service Cloud : Update Entitlement with Asset Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Cloud : Update Entitlement with ESP Asset Info</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_ESP_Asset_from_Account_and_Product_information</name>
        <label>Lookup ESP_Asset from Account and Product information</label>
        <locationX>165</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_ESP_Asset_found_for_Account_and_Product_Id_match</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDforEntitlement</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntitlementProduct</elementReference>
            </value>
        </filters>
        <object>ESP_Asset__c</object>
        <outputAssignments>
            <assignToReference>AssetIDforEntitlement</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEntitlementWithESP_Asset</name>
        <label>Update Entitlement With ESP_Asset</label>
        <locationX>168</locationX>
        <locationY>382</locationY>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDforEntitlement</elementReference>
            </value>
        </filters>
        <filters>
            <field>ESP_Asset__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>AssetIDforEntitlement</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entitlement</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntitlementProduct</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ESP_Asset__c</field>
            <value>
                <elementReference>AssetIDforEntitlement</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <startElementReference>Lookup_ESP_Asset_from_Account_and_Product_information</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountIDforEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetIDforEntitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entitlement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntitlementID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entitlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
</Flow>
