force-app/main/default/flows/Service_Product_Recommendation_on_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activity_for_DGX_TAM_Support</name>
        <label>Activity for DGX TAM Support</label>
        <locationX>1971</locationX>
        <locationY>58</locationY>
        <actionName>New_Task_Record</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Recommend_TAM_Support_for_vGPU</targetReference>
        </connector>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>TAMSupportServiceTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Opportunity_Details.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Recommendation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Recommendation for TAM Support Service (DGX)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Call_Type__c</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Activity_for_SDMR_Support</name>
        <label>Activity for SDMR Support</label>
        <locationX>2424</locationX>
        <locationY>56</locationY>
        <actionName>New_Task_Record</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>MediaRetentionSupportTextTemplat</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Opportunity_Details.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Recommendation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Recommendation for Media Retention Service</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Call_Type__c</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Activity_for_vGPU_Support</name>
        <label>Activity for vGPU Support</label>
        <locationX>2214</locationX>
        <locationY>49</locationY>
        <actionName>New_Task_Record</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Recommend_SDMR_Service</targetReference>
        </connector>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Recommendation for TAM Support Service (vGPU)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Opportunity_Details.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Recommendation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>TAMSupportServiceTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Call_Type__c</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>debugMessage1</name>
        <label>debugMessage1</label>
        <locationX>271</locationX>
        <locationY>154</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Flow Executed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Oppty.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_for_vGPU_TAM_Support</name>
        <label>Email Alert for vGPU TAM Support</label>
        <locationX>2157</locationX>
        <locationY>222</locationY>
        <actionName>Opportunity.Service_Cloud_Recommendation_for_TAM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Activity_for_vGPU_Support</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_for_TAM_Recommendation</name>
        <label>Send Email for TAM Recommendation</label>
        <locationX>1859</locationX>
        <locationY>239</locationY>
        <actionName>Opportunity.Service_Cloud_Recommendation_for_TAM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Activity_for_DGX_TAM_Support</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_Email_for_SDMR_Recommendation</name>
        <label>Sent Email for SDMR Recommendation</label>
        <locationX>2386</locationX>
        <locationY>223</locationY>
        <actionName>Opportunity.Service_Cloud_Recommendation_for_SDMR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Activity_for_SDMR_Support</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>DGX_1_Product_Count</name>
        <label>DGX-1 Product Count</label>
        <locationX>1274</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>DGX1_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_Line.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DGX_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_Line.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Opportunity_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DGX_2_Product_Count</name>
        <label>DGX-2 Product Count</label>
        <locationX>1270</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>DGX2_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_Line.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DGX_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_Line.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Opportunity_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recommendation_exist_for_Media_Retention</name>
        <label>Recommendation exist for Media Retention</label>
        <locationX>488</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>Recommend_MR_Service</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Recommendation_Activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SDMR_Support_Check</name>
        <label>SDMR Support Check</label>
        <locationX>1676</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>MR_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_Line.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Opportunity_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAM_DGX_Service_Set_Recommendations_Flag</name>
        <label>TAM DGX Service - Set Recommendations Flag</label>
        <locationX>486</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>Recommend_TAM_DGX_Service</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Recommendation_Activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAM_Support_Service</name>
        <label>TAM Support Service</label>
        <locationX>1227</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>TAMSupportAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_Line.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Opportunity_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TAM_vGPU_Service_Set_Recommendations_Flag</name>
        <label>TAM vGPU Service - Set Recommendations Flag</label>
        <locationX>896</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>Recommend_TAM_vGPU_Service</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Recommendation_Activities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vGPU_Product_Amount</name>
        <label>vGPU Product Amount</label>
        <locationX>1653</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>vGPU_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_Line.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Opportunity_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_for_Recommendation_Activity</name>
        <label>Decision for Recommendation Activity</label>
        <locationX>729</locationX>
        <locationY>776</locationY>
        <defaultConnector>
            <targetReference>Check_Previous_Recommendation_Activities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Media_Retention_Recommendation_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recomTask.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommendation for Media Retention Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recomTask.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Todays_30Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommendation_exist_for_Media_Retention</targetReference>
            </connector>
            <label>Media Retention Recommendation Task</label>
        </rules>
        <rules>
            <name>TAM_DGX_Recommendation_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recomTask.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommendation for TAM Support Service (DGX)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recomTask.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Todays_30Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAM_DGX_Service_Set_Recommendations_Flag</targetReference>
            </connector>
            <label>TAM DGX Recommendation Task</label>
        </rules>
        <rules>
            <name>TAM_vGPU_Recommendation_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recomTask.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommendation for TAM Support Service (vGPU)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recomTask.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Todays_30Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAM_vGPU_Service_Set_Recommendations_Flag</targetReference>
            </connector>
            <label>TAM vGPU Recommendation Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Lines_by_Product_Family</name>
        <label>Process Lines by Product Family</label>
        <locationX>1483</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Group_Opportunity_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DGX_1_Opportunity_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DGX-1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DGX_1_Product_Count</targetReference>
            </connector>
            <label>DGX-1 Opportunity Line</label>
        </rules>
        <rules>
            <name>DGX_2_Opportunity_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DGX-2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DGX_2_Product_Count</targetReference>
            </connector>
            <label>DGX-2 Opportunity Line</label>
        </rules>
        <rules>
            <name>vGPU_Opportunity_Line</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>vGPU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GRID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vGPU_Product_Amount</targetReference>
            </connector>
            <label>vGPU Opportunity Line</label>
        </rules>
        <rules>
            <name>TAM_Support_Opportunity_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oppty_Line.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAM_Support_Service</targetReference>
            </connector>
            <label>TAM Support Opportunity Line</label>
        </rules>
        <rules>
            <name>Media_Retention_Support_Opportunity_Line</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Media Retention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SDMR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oppty_Line.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CMR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDMR_Support_Check</targetReference>
            </connector>
            <label>Media Retention Support Opportunity Line</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommend_SDMR_Service</name>
        <label>Recommend SDMR Service</label>
        <locationX>2286</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDMR_Service</name>
            <conditionLogic>(1 OR 2 OR 3 OR 7 OR 8 OR 9) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Information.Industries_Select_which_apply__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defense/Government</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Information.Industries_Select_which_apply__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Services Industry (FSI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Information.Industries_Select_which_apply__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Imaging/Life Sci Instruments</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DGX_Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MR_Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recommend_MR_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Services Industry (FSI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Healthcare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Industry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Sector</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Email_for_SDMR_Recommendation</targetReference>
            </connector>
            <label>SDMR Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommend_TAM_Support_for_DGX</name>
        <label>Recommend TAM Support for DGX</label>
        <locationX>1846</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Recommend_TAM_Support_for_vGPU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAM_Support_for_DGX</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>DGX1_Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DGX2_Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DGX_Quantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TAMSupportAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recommend_TAM_DGX_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_for_TAM_Recommendation</targetReference>
            </connector>
            <label>TAM Support for DGX</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommend_TAM_Support_for_vGPU</name>
        <label>Recommend TAM Support vGPU</label>
        <locationX>2057</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Recommend_SDMR_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAM_Support_for_vGPU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGPU_Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TAMSupportAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recommend_TAM_vGPU_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_for_vGPU_TAM_Support</targetReference>
            </connector>
            <label>TAM Support for vGPU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommendation_for_Services</name>
        <label>Recommendation_for_Services</label>
        <locationX>1147</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run_Recommendations</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recommend_TAM_DGX_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recommend_TAM_vGPU_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recommend_MR_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products</targetReference>
            </connector>
            <label>Run_Recommendations</label>
        </rules>
    </decisions>
    <description>Recommend Service products for Opportunites</description>
    <formulas>
        <name>Chatter_Debug_Message</name>
        <dataType>String</dataType>
        <expression>TEXT({!DGX_Quantity})</expression>
    </formulas>
    <formulas>
        <name>Todays_30Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-30</expression>
    </formulas>
    <interviewLabel>Service Product Recommendation on Opportunities: {!Oppty.Id} - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Product Recommendation Flow</label>
    <loops>
        <name>Check_Previous_Recommendation_Activities</name>
        <label>Check Previous Recommendation Activities</label>
        <locationX>721</locationX>
        <locationY>368</locationY>
        <assignNextValueToReference>recomTask</assignNextValueToReference>
        <collectionReference>Get_Recommendation_Activities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_for_Recommendation_Activity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recommendation_for_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Group_Opportunity_Line</name>
        <label>Group Opportunity Line</label>
        <locationX>1513</locationX>
        <locationY>481</locationY>
        <assignNextValueToReference>Oppty_Line</assignNextValueToReference>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Process_Lines_by_Product_Family</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recommend_TAM_Support_for_DGX</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>541</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recommendation_Activities</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Region__c</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Inactive__c</queriedFields>
        <queriedFields>Account_Number__c</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>Industries_Select_which_apply__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>377</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppty.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Account_Industry__c</queriedFields>
        <queriedFields>AccountName__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Probability</queriedFields>
        <queriedFields>Industry__c</queriedFields>
        <queriedFields>TotalOpportunityQuantity</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>1519</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Opportunity_Line</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recommendation_Activities</name>
        <label>Get Recommendation Activities</label>
        <locationX>720</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Previous_Recommendation_Activities</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recommendation</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>169</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>debugMessage1</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>MediaRetentionSupportTextTemplat</name>
        <text>&lt;p&gt;We have a great opportunity for your customer and for you – you can further help to protect customer’s sensitive data in their system by suggesting the service program – Media Retention Services (MR Services)! MR Services allow customers to retain eligible components that they’d preferred not to relinquish during an RMA event, due to the possibility of sensitive data being retained within their system memory. It includes two individual service programs: SSD Media Retention Services (SDMR): For customers to keep the SSDs only, Comprehensive Media Retention Service (CMR): For customers to keep their defective media within the covered system. For any further questions please contact enterpriseservices@nvidia.com. Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TAMSupportServiceTextTemplate</name>
        <text>&lt;p&gt;Provide More Value for Your Customer – Technical Account Manager!! We’ve noticed that you put the opportunity on SFDC. Good news – you can further help the customers to manage their site more efficiently by suggesting the service program – Technical Account Manager (TAM)! A TAM is a technical support engineer who focuses on managing customer’s support cases related to customers NVIDIA solutions, deliverables including Act as the primary contact from NVIDIA for customers, program manage and orchestrate all open cases, Proactively review cases and issues, and help customers optimize the IT resources, Conduct a quarterly review of customer analytics reports, Engage with customer’s staff and 3rd party vendor during joint calls. Please see more details in the attachment. For any further questions please contact enterpriseservices@nvidia.com. Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Account-Related to an opportunity that triggered the Flow</description>
        <name>Acct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DGX1_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DGX2_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DGX_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MR_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity Record triggering the Flow</description>
        <name>Oppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Opportunity Line</description>
        <name>Oppty_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Recommend_MR_Service</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Recommend_TAM_DGX_Service</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Recommend_TAM_vGPU_Service</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recomTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TAMSupportAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vGPU_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
