force-app/main/default/flows/Service_Cloud_Create_Lifecycle_History_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Lifecycle_History_records</name>
        <label>Add Lifecycle History records</label>
        <locationX>987</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>Lifecycle_History_records_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lifecycle_history_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lifecycle_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lifecycle_History_Records_for_a_New_Case</name>
        <label>Add Lifecycle History Records for a New Case</label>
        <locationX>360</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>Lifecycle_History_records_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LifecycleHistory_Record_2nd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_or_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Incident_Status_Value</name>
        <label>Set Incident Status Value</label>
        <locationX>835</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_Incident_Status_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Incident_Status_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lifecycle_History_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lifecycle_History_Record</name>
        <label>Set Lifecycle History Record</label>
        <locationX>835</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lifecycle_History_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lifecycle_History_Value_Status_Change</name>
        <label>Set Lifecycle History Value Status Change</label>
        <locationX>207</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>LifecycleHistory_Record_2nd.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifecycleHistory_Record_2nd.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_Incident_Status_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifecycleHistory_Record_2nd.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Incident_Status_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifecycleHistory_Record_2nd.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifecycleHistory_Record_2nd.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lifecycle_History_Records_for_a_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_with_Queue_Name</name>
        <label>Set Value with Queue Name</label>
        <locationX>656</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_Queue_Group_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current Owner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Current_Owner_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lifecycle_History_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_with_User_Name</name>
        <label>Set Value with User Name</label>
        <locationX>654</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previous_User_FullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current Owner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lifecycle_history_record.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Current_Owner_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lifecycle_History_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Field_Change</name>
        <label>Field Change</label>
        <locationX>207</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>Incident_Status_Current_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Field_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident Status &amp; Current Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lifecycle_History_Value_Status_Change</targetReference>
            </connector>
            <label>Incident Status &amp; Current Owner</label>
        </rules>
        <rules>
            <name>Current_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Field_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_or_Queue</targetReference>
            </connector>
            <label>Current Owner</label>
        </rules>
        <rules>
            <name>Incident_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Field_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Incident_Status_Value</targetReference>
            </connector>
            <label>Incident Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_or_Queue</name>
        <label>User or Queue</label>
        <locationX>354</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Get_User_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Owner_is_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <formulas>
        <name>Owner_is_Queue</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT({!Current_Owner_Id}, 3) == &apos;005&apos;, false, true)</expression>
    </formulas>
    <formulas>
        <name>Previous_User_FullName</name>
        <dataType>String</dataType>
        <expression>{!PreviousCurrentOwner.FirstName} &amp; &apos; &apos; &amp; {!PreviousCurrentOwner.LastName}</expression>
    </formulas>
    <interviewLabel>Service Cloud: Create Lifecycle History Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Cloud: Create Lifecycle History Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lifecycle_History</name>
        <label>Create Lifecycle History</label>
        <locationX>1147</locationX>
        <locationY>266</locationY>
        <inputReference>Lifecycle_History_records_to_create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>519</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Value_with_Queue_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Owner_Id</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Previous_Queue_Group_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>524</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Value_with_User_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Owner_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>PreviousCurrentOwner.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PreviousCurrentOwner.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Field_Change</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Field_Changed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Current_Owner_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Incident_Status_Date_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lifecycle_history_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lifecycle_History__c</objectType>
    </variables>
    <variables>
        <name>Lifecycle_History_records_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lifecycle_History__c</objectType>
    </variables>
    <variables>
        <name>LifecycleHistory_Record_2nd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lifecycle_History__c</objectType>
    </variables>
    <variables>
        <name>Previous_Incident_Status_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Previous_Queue_Group_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousCurrentOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
