force-app/main/default/flows/Service_Cloud_Tracking_Number_populated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Case_Owner_When_Tracking_Number_is_populated</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Email to Case Owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>RMA__c.Notify_Case_Owner_When_Tracking_Number_is_populated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Service_Cloud_Notification_to_customer_Tracking_number_is_populated_on_the_RMA</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Send Email to Customer</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <actionName>RMA__c.Service_Cloud_Notification_to_customer_Tracking_number_is_populated_on_the_RMA</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Service_Cloud_Notify_Case_Owner_Tracking_Number_not_Populated_6_hours</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_4_event_0_SA1</name>
        <label>Notify Case Owner Tracking No not received 6 hours</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>RMA__c.Service_Cloud_Notify_Case_Owner_Tracking_Number_not_Populated_6_hours</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Service_Cloud_Notify_Case_Owner_Tracking_Number_not_Populated_24_hours</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_4_event_1_SA1</name>
        <label>Notify Case Owner Tracking No not received 24 hours</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>RMA__c.Service_Cloud_Notify_Case_Owner_Tracking_Number_not_Populated_24_hours</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_1_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_4</name>
        <label>myWaitAssignment_myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_4_event_1_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_4_event_1_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_4_event_1_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_4</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Tracking number Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>Tracking Number is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_4_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_1</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_1_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_4_event_1_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_4</name>
        <label>myPreWaitDecision_myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_4</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_4</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>restored  6 and 24 hours added task and customer notifications</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;Hi,BR() For Case:&apos; &amp; [RMA__c].Case__c.CaseNumber &amp; &apos; and &apos; &amp;[RMA__c].Name &amp; &apos;, an email has been sent to &apos; &amp;[RMA__c].On_site_Contact1_Email__c &amp; &apos; ,&apos; &amp; [RMA__c].Onsite_Contact2_Email__c &amp; &apos; and Case Owner &apos; &amp; [RMA__c].Case__c.Owner:User.Email &amp; &apos;  for the notification of RMA Tracking Number populated as &apos; &amp; [RMA__c].Tracking_Number__c &amp;&apos; BR() Thanks,BR() NVCRM Admin &apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_7571358231</name>
        <dataType>String</dataType>
        <expression>&apos;Hi,BR() For Case:&apos; &amp; {!myVariable_current.Case__r.CaseNumber} &amp; &apos; and &apos; &amp;{!myVariable_current.Name} &amp; &apos;, an email has been sent to &apos; &amp;{!myVariable_current.On_site_Contact1_Email__c} &amp; &apos; ,&apos; &amp; {!myVariable_current.Onsite_Contact2_Email__c} &amp; &apos; and Case Owner &apos; &amp; {!myVariable_current.Case__r.Owner:User.Email} &amp; &apos;  for the notification of RMA Tracking Number populated as &apos; &amp; {!myVariable_current.Tracking_Number__c} &amp;&apos; BR() Thanks,BR() NVCRM Admin &apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISCHANGED([RMA__c].Tracking_Number__c),NOT(ISBLANK([RMA__c].Tracking_Number__c) ),BEGINS([RMA__c].Case__c.OwnerId , &apos;005&apos; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISCHANGED({!myVariable_current.Tracking_Number__c}),NOT(ISBLANK({!myVariable_current.Tracking_Number__c}) ),BEGINS({!myVariable_current.Case__r.OwnerId} , &apos;005&apos; ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    ISBLANK([RMA__c].Tracking_Number__c) ,
    BEGINS([RMA__c].Case__c.OwnerId , &apos;005&apos; ),
    
OR([RMA__c].RMA_Status__c=&apos;INPR&apos;,[RMA__c].RMA_Status__c=&apos;SHIP&apos;,[RMA__c].RMA_Status__c=&apos;COMP&apos;,[RMA__c].RMA_Status__c=&apos;OPEN&apos;)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISBLANK({!myVariable_current.Tracking_Number__c}) ,
    BEGINS({!myVariable_current.Case__r.OwnerId} , &apos;005&apos; ),
    
OR({!myVariable_current.RMA_Status__c}=&apos;INPR&apos;,{!myVariable_current.RMA_Status__c}=&apos;SHIP&apos;,{!myVariable_current.RMA_Status__c}=&apos;COMP&apos;,{!myVariable_current.RMA_Status__c}=&apos;OPEN&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    ISBLANK([RMA__c].Tracking_Number__c) ,
    BEGINS([RMA__c].Case__c.OwnerId , &apos;005&apos; ),
    
OR([RMA__c].RMA_Status__c=&apos;INPR&apos;,[RMA__c].RMA_Status__c=&apos;SHIP&apos;,[RMA__c].RMA_Status__c=&apos;COMP&apos;,[RMA__c].RMA_Status__c=&apos;OPEN&apos;)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISBLANK({!myVariable_old.Tracking_Number__c}) ,
    BEGINS({!myVariable_old.Case__r.OwnerId} , &apos;005&apos; ),
    
OR({!myVariable_old.RMA_Status__c}=&apos;INPR&apos;,{!myVariable_old.RMA_Status__c}=&apos;SHIP&apos;,{!myVariable_old.RMA_Status__c}=&apos;COMP&apos;,{!myVariable_old.RMA_Status__c}=&apos;OPEN&apos;)
)</expression>
    </formulas>
    <interviewLabel>Service_Cloud_Tracking_Number_populated-15_InterviewLabel</interviewLabel>
    <label>Service Cloud : RMA Tracking Number populated</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>RMA__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>Create Task to Track email Sent</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_7571358231</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Email sent : Tracking number populated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Tag__c;Announcement__c;Asset;AssetRelationship;BRNSHRK__BrainsharkPresentation__c;BRNSHRK__BrainsharkSettings__c;Budget__c;CPQ_Requester__c;CRMfusionDBR101__Duplicate_Warning__c;Campaign;Case;ChannelProgram;ChannelProgramLevel;Claim__c;Comments__c;ContactRequest;Contract;ContractLineItem;CustomerAnnouncement__c;Data_Validation_Master_Data__c;ESP_Private_Notes__c;Entitlement;Entitlement__c;ListEmail;MDFFunding__c;Monthly_POS__c;NPN_Business_Plan__c;NPN_DocuSign_Id__c;NPN_Key_Contact__c;NPN_NFR_Software__c;NVBug__c;NV_Error_Log__c;NV_Log__c;Notebook_Market_Model__c;Notebook_Waterfall__c;Opportunity;Order;POS_Submission__c;Pipeline__c;Product2;Program_Goal__c;RMA__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;ServiceContract;Solution;SuRF_Contacts_Trans__c;SuRF_Contacts__c;SuperComputing_RFI_RFP_Tracking__c;Support_Request_And_Question__c;Temporary_Contact__c;Training_GRID_VGX__c;Training_GRID__c;Win_Summary__c;WorkOrder;WorkOrderLineItem;bsource__BS_Deal_Support_Request__c;bsource__Briefing_Attendee__c;bsource__Briefing_Topic__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;sixsense__X6sense_Account_Score__c;sixsense__X6sense_Company_Score__c;sixsense__X6sense_Contact_Score__c;sixsense__X6sense_Lead_Scores__c;sixsense__X6sense_New_Company__c;sixsense__X6sense_Product__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>myPreWaitDecision_myWait_myRule_4</startElementReference>
    <status>Active</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RMA__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RMA__c</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_4_event_1_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_4</name>
        <label>myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_4_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>RMA__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_4_event_0</label>
        </waitEvents>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_4_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_4_event_1_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_1</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>RMA__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_4_event_1</label>
        </waitEvents>
    </waits>
</Flow>
