force-app/main/default/flows/Service_Cloud_External_Connection_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Service Cloud: External Connection Status {!$Flow.CurrentDateTime}
Details: Case ID: {!VarT_CaseId}</interviewLabel>
    <label>Service Cloud: External Connection Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Auto_Share_Record_With_Connection</name>
        <label>Auto Share Record With Connection</label>
        <locationX>461</locationX>
        <locationY>66</locationY>
        <inputAssignments>
            <field>ConnectionId</field>
            <value>
                <elementReference>VarT_ConnectionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocalRecordId</field>
            <value>
                <elementReference>VarT_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerNetworkRecordConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Search_Connection_History</name>
        <label>Search Connection History</label>
        <locationX>178</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Sharing</targetReference>
        </connector>
        <filters>
            <field>LocalRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerNetworkRecordConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>External_Sharing</name>
        <label>External Sharing</label>
        <locationX>420</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Connection_Status</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sharing Status: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Search_Connection_History.Status}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Search_Connection_History.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Search_Connection_History</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarT_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>VarT_ConnectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>04P1D000000CaU6UAK</stringValue>
        </value>
    </variables>
</Flow>
