force-app/main/default/flows/Show_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Get_Help_Assignment</name>
        <label>Get Help Assignment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>GetHelpCase.NV_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NVLogRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetHelpCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto generated Case from flow. Please check NV log for the details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetHelpCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetHelpCase.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetHelpCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetHelpCase.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetHelpCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetHelpCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121W000000DyD0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Get_Help</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NV_Log_Assignment</name>
        <label>NV Log Assignment</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>NVLogRecord.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NVLogRecord.Record_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NVLogRecord.Error_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NVLogRecord.Functionality_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionalityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NVLogRecord.Additional_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailRecipient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NVLogRecord.Send_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NVLogRecord.Component_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComponentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NV_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NV_Log_required</name>
        <label>NV Log required?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>ShowMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save_Log_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveLog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NV_Log_Assignment</targetReference>
            </connector>
            <label>Save Log is True</label>
        </rules>
    </decisions>
    <interviewLabel>Show Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Get_Help</name>
        <label>Create Get Help</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>ShowMessage</targetReference>
        </connector>
        <inputReference>GetHelpCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NV_Log</name>
        <label>Create NV Log</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Help_Assignment</targetReference>
        </connector>
        <inputReference>NVLogRecord</inputReference>
    </recordCreates>
    <screens>
        <name>ShowMessage</name>
        <label>Message</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowMessage_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShowMessage_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Message&lt;/b&gt;: {!Message}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Detail</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We have created Get Help for you. Technical team will look into the issue and follow up with this. Please &lt;/b&gt;&lt;a href=&quot;https://nvcrm--sfdcstage1.lightning.force.com/{!GetHelpCase.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;click here&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to view/update Get Help details. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Details&lt;/b&gt;:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Record Id[s]&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!RecordIds}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Description&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Log Id&lt;/b&gt;: &lt;a href=&quot;/{!NVLogRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!NVLogRecord.Id}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NV_Log_required</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ComponentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FunctionalityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetHelpCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Required. This message will display on the screen.</description>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NVLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>NV_Log__c</objectType>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SaveLog</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SendEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
