force-app/main/default/flows/SOQ_FL_Clone_opportunity_with_related_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Quote_Lines</name>
        <label>Clone Quote Lines</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <actionName>SOQ_CloneQuoteLines_INV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen_0</targetReference>
        </connector>
        <inputParameters>
            <name>OppKeys</name>
            <value>
                <elementReference>OppKey</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>clonedOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Opp_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Quote</name>
        <label>Create New Quote</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clonedOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Primary_NPN_OEM_ODM_Disti__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record_0.Primary_NPN_OEM_ODM_Disti__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record_0.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__QuoteProcessId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SOQ_QuoteCreation_Settings__c.Quote_Process_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__SalesRep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record_0.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.SOQ_QuoteCreation_Settings__c.Initial_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quotes_from_original_Opportunity.SBQQ__Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Sold_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record_0.Sold_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__DocumentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.SBQQ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.CPQRecordTypeCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quotes_from_original_Opportunity.CPQRecordTypeCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Customer_Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quotes_from_original_Opportunity.Customer_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Programmatic_Disc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quotes_from_original_Opportunity.Programmatic_Disc_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedQuote.Condition_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quotes_from_original_Opportunity.Condition_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cloned_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Opp_details</name>
        <label>set Opp details</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>clonedOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WS_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WS_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WS_Next_Step</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.Is_Cloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WS_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.DR_Customer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WS_Primary_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.NV_Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5-Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.ForecastCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.Closed_Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.Enterprise_Competitor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.DGX_Lost_Details__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.Closed_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clonedOpportunity.Duplicate_Opportunity_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Insert_cloned_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Type_and_Record_Type_0</name>
        <label>Check Opportunity Type and Record Type</label>
        <locationX>600</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Clone_Not_Allowed_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckTypeAndRecordType_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record_0.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121W000000DybgQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record_0.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deal Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_with_related_record</targetReference>
            </connector>
            <label>CheckTypeAndRecordType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Product_is_checked_0</name>
        <label>Opportunity Product is checked</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Success_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone_Quote_Lines_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Quote_Lines</targetReference>
            </connector>
            <label>Clone Quote Lines</label>
        </rules>
    </decisions>
    <description>Removed Description Field from the Clone screen.</description>
    <formulas>
        <name>get_Opportunity_Id</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record_0.Id}</expression>
    </formulas>
    <formulas>
        <name>OppKey</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record_0.Id} + &apos;-&apos; + {!clonedOpportunity.Id}</expression>
    </formulas>
    <formulas>
        <name>WS_Primary_ContactId</name>
        <dataType>String</dataType>
        <expression>if({!Get_Opportunity_Record_0.AccountId} = {!WS_Account.recordId}, {!Get_Opportunity_Record_0.DR_Customer_Contact__c}, &apos; &apos;)</expression>
    </formulas>
    <interviewLabel>SOQ : FL : Clone Quote for {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOQ : FL : Clone opportunity with related record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_cloned_Opportunity</name>
        <label>Insert cloned Opportunity</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Get_Quotes_from_original_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error_Detail1</targetReference>
        </faultConnector>
        <inputReference>clonedOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Cloned_Quote</name>
        <label>Insert Cloned Quote</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Opportunity_Product_is_checked_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Opportunity</targetReference>
        </faultConnector>
        <inputReference>clonedQuote</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Roll_Back_Opportunity</name>
        <label>Roll Back Opportunity</label>
        <locationX>490</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Show_Error_Detail</targetReference>
        </connector>
        <inputReference>clonedOpportunity</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity_Record_0</name>
        <label>Get Opportunity Record</label>
        <locationX>600</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Type_and_Record_Type_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes_from_original_Opportunity</name>
        <label>Get Quotes from original Opportunity</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record_0.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Clone_Not_Allowed_screen</name>
        <label>Clone Not Allowed screen</label>
        <locationX>1018</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloneNotAllowed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;OppReg (Deal Registration) Opportunity Cannot be Cloned.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clone_with_related_record</name>
        <label>Clone with related record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cloned_Opportunity_Edit_Screen</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Product</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Opportunity Product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cloned_Opportunity_Edit_Screen</name>
        <label>Cloned Opportunity Edit Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <fields>
            <name>WS_Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WS_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity_Record_0.AccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WS_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WS_Next_Step</name>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_0</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;O&lt;b&gt;pportunity Cloned Successfully.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!clonedOpportunity.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Link to new Opportunity&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Show_Error_Detail</name>
        <label>Show Error Detail</label>
        <locationX>490</locationX>
        <locationY>1478</locationY>
        <flowName>Show_Message</flowName>
        <inputAssignments>
            <name>ComponentName</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailRecipient</name>
            <value>
                <stringValue>akhileshg@nvidia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FunctionalityName</name>
            <value>
                <stringValue>Clone Opportunity Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <stringValue>Failed to Clone Quote. Please see the details below,</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordIds</name>
            <value>
                <elementReference>Get_Opportunity_Record_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Show_Error_Detail1</name>
        <label>Show Error Detail</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <flowName>Show_Message</flowName>
        <inputAssignments>
            <name>ComponentName</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailRecipient</name>
            <value>
                <stringValue>akhileshg@nvidia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FunctionalityName</name>
            <value>
                <stringValue>Clone Opportunity Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Message</name>
            <value>
                <stringValue>Failed to Clone Opportunity. Please see the details below,</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordIds</name>
            <value>
                <elementReference>Get_Opportunity_Record_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SaveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>clonedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>clonedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0121W000000DybgQAC</stringValue>
        </value>
    </variables>
</Flow>
